/* Samindus Edits */
.profile-detail-board {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
}

.profile-data-board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.profile-card {
    width: 221px;
    height: 200px;
    padding: 23px;
    background: #FFFFFF;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cardhead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-name {
    height: 15px;
    left: 0px;
    top: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 15px;
    color: #000000;
}

.position,
.arrivaldate,
.status {
    height: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 0.5rem;
    line-height: 12px;
    color: #A6AFBA;
}

.profile-img {
    text-align: center;
}

        /*////////////////*/

        .b {
            background-color: #f2f2f2;

        }

        .b1 {
            width: 100%;
            height: 100vh;
            background-color: red;
            display: flex;
            flex-direction: row;
        }

        button.btttn {
            float: center;
            height: 30px;
            border-color: red;
            background-color: white;
            border-radius: 5px;
            width: 100px;
        }

        button.bttn {
            float: center;
            height: 30px;
            border-color: blue;
            background-color: white;
            border-radius: 5px;
            width: 100px;
        }

        .column1 {
            float: left;
        }

        .left1 {
            width: 50%;
        }

        .right1 {
            width: 50%;
        }

        .a1:after {
            content: "";
            display: table;
            clear: both;
        }

        .a22 {

            border-color: blue;
        }

        .c1 {
            float: left;
            width: 33.33%;
            margin-left: -20px;
        }

        .a222{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1rem;
            left: 20rem;
        }

        .a222:after {
            content: "";
            display: table;
            clear: both;
            margin-left: 20px;
        }

        .p1:after {
            content: "";
            display: table;
            clear: both;
        }

        .p2 {
            float: right;
        }

        .container1 {
            border-radius: 5px;
            width: 300px;
            height: 150px;
            background-color: white;
            padding: 20px;
            margin-bottom: 2rem;
            margin-top: 4rem;
        }

        .a{
            margin-left: 20% !important;
            margin-top: 8% !important
        }

        .btn1:hover {
            background-color: rgb(217, 217, 238);
            border-color: rgb(217, 217, 238);
            color: #000;
        }

        .toolset-filterbox {
            position: fixed;
            width: 11.5rem;
            /* height: 520px; */
            right: 1.75rem;
            top: 15rem;
            /*padding: 23px;*/
            /*margin-inline: 20px;*/
        
            background: #FFFFFF;
            /* Shadow/light */
        
            box-shadow: 0px 2px 4px rgba(76, 92, 107, 0.15), 0px 18px 36px rgba(166, 175, 186, 0.2);
            border-radius: 24px;
        
            display: flex;
            flex-direction: column;
        
            /*justify-content: space-between;*/
        }
        
        .toolfilter {
            margin: 1.2rem;
            /*font-family: 'Proxima Nova';*/
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
        }
        
        .filter-head {
            margin: 0.5rem 1.2rem;
        }
        
        .filtertype {
            /*font-family: 'Proxima Nova';*/
            font-style: normal;
            font-weight: 600 !important;
            font-size: 14px !important;
            line-height: 14px !important;
            /* identical to box height */
        
        
            /* Grey/700 */
        
            color: #4C5C6B;
        }
        
        .filters {
        
            /*font-family: 'Proxima Nova';*/
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 16px;
            /* identical to box height */
        
        
            /* Grey/500 */
        
            color: #A6AFBA;
            /* margin-block: 15px; */
            /*border: black solid 1px;*/
        }

        .page-content-2 {
            position: absolute;
            right: 5rem;
        }