body {
    background: #F2F2F6;
}

carpic {
    border: 1px solid black;
}

.listsection {
    position: absolute;
    /*width: 473.8px;*/
    /*height: 50px;*/
    left: 300px;
    top: 90px;
    right: 6rem;
}

.pagehead {
    /* font-family: 'Noto Sans'; */
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */

    color: #1C1F37;
}

.databoard {
    display: flex;
    flex-direction: column;
}

.vehicle-detail-board {
    display: flex;
    flex-direction: row;

    padding-top: 25px;
}

.vehicle-data-board {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    gap: 27px;
}

.carcard {
    /*position: absolute;*/
    width: 221px;
    height: 200px;
    /*left: 272px;*/
    /*top: 25px;*/
    padding: 23px;

    background: #FFFFFF;
    /* Shadow/light */

    box-shadow: 0px 2px 4px rgba(76, 92, 107, 0.15), 0px 18px 36px rgba(166, 175, 186, 0.2);
    border-radius: 24px;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.carmodel {
    /*position: absolute;
    width: 83px;*/
    height: 15px;
    left: 0px;
    top: 0px;

    /* font-family: 'Proxima Nova'; */ 
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    /* identical to box height */


    color: #000000;
}

.chassisno {
    /*position: absolute;
    width: 82px;*/
    height: 12px;
    left: 0px;
    top: 15px;

    /* font-family: 'Proxima Nova'; */
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height */


    /* Grey/500 */

    color: #A6AFBA;
}

.carstatuscolor {
    display: flex;
    justify-content: right;
}

.carstatus {
    height: 18px;

    /* Title 3/Regular */

    /* font-family: 'Proxima Nova'; */
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height */


    /* Grey/500 */

    color: #A6AFBA;
}

.cardhead {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.carpicbox {
    text-align: center;
}

.carpic {
    height: 113px;
}

.filterbox {
    position: fixed;
    width: 212px;
    height: 520px;
    right: 20px;
    /*top: 165px;*/
    /*padding: 23px;*/
    /*margin-inline: 20px;*/

    background: #FFFFFF;
    /* Shadow/light */

    box-shadow: 0px 2px 4px rgba(76, 92, 107, 0.15), 0px 18px 36px rgba(166, 175, 186, 0.2);
    border-radius: 24px;

    display: flex;
    flex-direction: column;

    /*justify-content: space-between;*/
}

.filterin {
    margin: 22px 26px 22px 26px;
    /* font-family: 'Proxima Nova'; */
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}

.filtertype {
    /* font-family: 'Proxima Nova'; */
    font-style: normal;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 14px !important;
    /* identical to box height */


    /* Grey/700 */

    color: #4C5C6B;
}

.filters {

    /* font-family: 'Proxima Nova'; */
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */


    /* Grey/500 */

    color: #A6AFBA;
    margin-block: 15px;
    /*border: black solid 1px;*/
}

a {
    text-decoration: none;
}

.status-circle {
    width: 15px;
    height: 15px;
    /*margin: auto 1rem auto 0.5rem;*/
    border-radius: 50%;
}

/* GRAPH OPTION 1 */
.status-green-circle {
    background-color: #17B978;
}

/* GRAPH OPTION 2 */
.status-orange-circle {
    background-color: #FD5F00;
}

.available {
    color: #17B978;
}

.lower {
    color: #FD5F00;
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-inline: 30px;
}

.no-data {
    width: 880px;
    height: 520px;

    background-color: #FFFFFF;

    box-shadow: 0px 2px 4px rgba(76, 92, 107, 0.15), 0px 18px 36px rgba(166, 175, 186, 0.2);
    border-radius: 24px;


    /* font-family: 'Proxima Nova'; */
    font-style: normal;
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 30px !important;

}


.consumable-popup-window {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;

    position: fixed;

    width: 660px;
    height: 360px;
    left: 507px;
    top: 200px;

    padding: 20px;

    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(76, 92, 107, 0.15), 0px 18px 36px rgba(166, 175, 186, 0.2);
    border-radius: 24px;

    gap: 15px 0;

    z-index: 1;
}

.filter-btn {
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.filter-button {
    width: 100px;
    height: 30px;

    border: none;
    border-radius: 10px;

    background-color: #017EFA;
    color: #FFFFFF;
}

.filter-button:hover {
    background-color: #017dfabb;
    box-shadow: 0px 2px 4px rgba(76, 92, 107, 0.15), 0px 18px 36px rgba(166, 175, 186, 0.2);
}


.line {
    border-top:1px solid #4C5C6B;
}