.ds-view-inner {
    display: flex;
    flex-direction: column;

    margin-inline: 38px;
    margin-bottom: 44px;
    margin-top: 23px;
}

.ds-top-section {
    width: 1100px;
    height: 50px;
}

.ds-top-section-breaker {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.ds-title {
    width: 500px;
    height: 30px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    color: #1C1F37;
}

.ds-back-button {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;

    color: #2773FF;

    width: 149.16px;
    height: 33px;

    border: 1px solid #2773FF;
    border-radius: 4px;
    transition-duration: 0.15s;
}

.ds-back-button:hover {
    background-color: #2773FF20;
    transition-duration: 0.15s;
}

.ds-info-box {
    width: 1100px;
    /*height: 480px;*/
    /*height: 540px;*/

    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    box-shadow: 0 5px 10px #F1F2FA;
    border-radius: 8px;

}

.ds-info-box-inner {
    margin: 25px 48px 30px 48px;
}

.ds-info-set-1,
.ds-info-set-2 {

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.ds-info-set-1 {
    height: 125px;
}

.ds-info-set-2 {
    margin-top: 60px;
}

.ds-info-top {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    margin-bottom: 20px;
}

.ds-heading {
    width: 602.02px;
    height: 30px;
    left: 346px;
    top: 169px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    color: #1C1F37;
}



.ds-vehicle-data {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.ds-data-field {
    display: flex;
    flex-direction: column;

    gap: 5px 0;

}

.ds-data-field,
.ds-inspector {
    width: 300px;
}









.bottom-border {
    border-bottom: 1px solid #DADADA;
}

.ds-col-01 {
    width: 60px;
    text-align: center;
}

.ds-col-02 {
    width: 444px;
    word-wrap: normal;
}

.ds-col-03 {
    width: 120px;
}

.ds-col-04 {
    width: 100px;
}

.ds-col-05 {
    width: 210px;
}

.ds-col-01,
.ds-col-02,
.ds-col-03,
.ds-col-04,
.ds-col-05 {
    height: 40px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #1C1F37;
}


.ds-table-row {
    display: flex;
    flex-direction: row;
}

.ds-bold {
    font-weight: bold;
}






.display-none {
    display: none;
}

.vertical-centralizer {
    display: flex;
    flex-direction: column;

    justify-content: center;

}

.horizontal-centralizer {
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.TB {
    border: 1px solid black;
    margin-block: auto;
}