
.hideme {
    visibility: hidden;
}
.showme {
    visibility: visible;
}

#messagebox {
    min-width: 250px;
    margin-left: -125px;
    border-radius: 10px;
    padding: 16px;

    box-shadow: 0 5px 10px rgb(76 92 107 / 20%), 0 18px 36px rgb(166 175 186 / 30%);
    word-wrap: normal;

    font-family: 'Proxima Nova';
    font-size: 15px;

    position: fixed;
    z-index: 500;
    right: 2rem;
    bottom: 3rem;
  }

.success-msg {
    background-color: #dffde4;
    /*border: 1.5px solid #3cae4f;*/
    color: #3cae4f;
}

.error-msg {

    background-color: #fddfe4;
    /*border: 1.5px solid #c82727;*/
    color: #c82727;
}

.success-msg,
.error-msg {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.closemsg {
    position: absolute;
    top: -.3rem;
    left: -.3rem;
}

.closemsgicon {
    height: 1.3rem;
    width: auto;

    cursor: pointer;
}

.success-msg .closemsgicon {
    border: 1px solid #3cae4f;
    border-radius: 1rem;
}

.error-msg .closemsgicon {
    border: 1px solid #c82727;
    border-radius: 1rem;
}
  
  #messagebox.shows {
    -webkit-animation: fadein 0.5s, fadeout 0.5s 9.5s;
    animation: fadein 0.5s, fadeout 0.5s 9.5s;
  }
  
  @-webkit-keyframes fadein {
    from {right: 0; opacity: 0;} 
    to {right: 2rem; opacity: 1;}
  }
  
  @keyframes fadein {
    from {right: 0; opacity: 0;} 
    to {right: 2rem; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {right: 2rem; opacity: 1;} 
    to {right: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {right: 2rem; opacity: 1;}
    to {right: 0; opacity: 0;}
  }
