.img-grid {
    display: grid;
    grid-template-columns: repeat(10, 1.25rem);
    grid-template-rows: repeat(10, 1.25rem);

    justify-content: center;
}

.img-grid #img-preview {
    height: 12rem;
}

.grid-add {
    grid-row: 2;
    grid-column: 9;
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(63, 1rem);
}

.icon-grid-add {
    grid-column: 63;
}

.chart-grid {
    display: grid;
    grid-template-columns: repeat(20, 1rem);
    grid-template-rows: repeat(20, 1rem);
}

.chart-grid-add-1 {
    grid-row: 13;
    grid-column: 14;
}

.chart-grid-add-2 {
    grid-row: 13;
    grid-column: 15;
}

.chart-grid-add-3 {
    grid-row: 13;
    grid-column: 16;
}

.chart-grid-stage {
    display: grid;
    grid-template-columns: repeat(10, 1rem);
    grid-template-rows: repeat(10, 1rem);
}

.chart-grid-stage-add-1 {
    grid-row: 6;
    grid-column: 6;
}

.chart-grid-stage-add-2 {
    grid-row: 6;
    grid-column: 5;
}

.chart-grid-stage-add-3 {
    grid-row: 6;
    grid-column: 5;
}