.leave-div-ender {
    border-bottom: 0.07rem solid #cccccc;
}

.sup-leave-list-heading {
    font-family: "Open Sans";
}

.sup-leave-list-content {
    display: flex;
    justify-content: flex-start;
}

.sup-leave-list-databox {
    margin-inline: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sup-leave-list-headbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sup-leave-list-info-box {
    margin-block: 1rem;

    display: flex;
    flex-direction: column;
    padding-block: 1rem;

    background-color: #ffffff;
    border-radius: 1rem;
}

.sup-leave-list-non-edit {
    display: flex;
    flex-direction: row;

    cursor: default;

    /* padding: 1rem; */
    padding: 1rem 2rem;
}

.sup-leave-list-edit {
    display: flex;
    flex-direction: row;

    padding: 1rem;
}

.sup-leave-list-edit:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

.leave-property {
    width: 15rem;
}

.leave-value {
    /* width: 10rem; */
    width: 14rem;
    overflow-wrap: normal;
}

.leave-edit-info {
    width: 3rem;
    /* width: 7rem; */
}

.head-button {
    color: #017EFA;
    border: 0.1rem solid #017EFA;
    background-color: none;
    border-radius: 0.5rem;
    width: 10rem;
    padding: 0.5rem 1rem;
    transition: 0.2s;
}

.head-button:hover {
    color: #FFFFFF;
    background-color: #017EFA;
}

.no-leave-data {
    width: 100%;
    padding-block: 2rem;

    border-top: 0.07rem solid #cccccc;

    /* font-family: 'Noto Sans'; */
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height */

    color: #1c1f37a0;
}

.active, .sup-leave-list-non-edit:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}






.time-off-update-popup {
    background-color: #FFFFFF;
    border-radius: 1rem;

    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    /* box-shadow: 0px 2px 4px rgba(76, 92, 107, 0.15), 0px 18px 36px rgba(166, 175, 186, 0.2); */
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 0.75rem 0;
    width: 30rem;
}

.timeoff-heading {
    font-size: 1.5rem;
    font-weight: 700;

    margin-bottom: 1rem;
}

.timeoff-unique-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.timeoff-unique-field-01, 
.timeoff-unique-field-02, 
.timeoff-unique-field-03 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
}

.timeoff-unique-inputs {
    padding: 0.7rem 1rem;
    width:180px;

    border-radius: 10px;
    border: 1px solid #AAAAAA;
}

.timeoff-reason-input {
    resize: none;
    width: calc(100% - 2rem);
    height: 10rem;

    border-radius: 10px;
    border: 1px solid #AAAAAA;
    padding: 1rem;
}

.popup-close-icon {
    position: relative;
    top: -16.25rem;
    right: -15rem;
}

.popup-close-icon {
    width: 1.25rem;
    cursor: pointer;
}

.width-100per {
    width: 100%;
}