.leave-div-ender {
    border-bottom: 0.07rem solid #cccccc;
}

.sup-leave-list-heading {
    font-family: "Open Sans";
}

.sup-leave-list-page {
    position: absolute;
    left: 16.25rem;
    top: 4rem;
}

.sup-leave-list-content {
    display: flex;
    justify-content: flex-start;
}

.sup-leave-list-databox {
    margin-inline: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sup-leave-list-headbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sup-leave-list-info-box {
    margin-block: 1rem;

    display: flex;
    flex-direction: column;
    padding-block: 1rem;

    background-color: #ffffff;
    border-radius: 1rem;
}

.sup-leave-list-non-edit {
    display: flex;
    flex-direction: row;

    padding: 1rem;
}

.sup-leave-list-edit {
    display: flex;
    flex-direction: row;

    padding: 1rem;
}

.sup-leave-list-edit:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

.leave-property {
    width: 15rem;
}

.leave-value {
    width: 10rem;
    overflow-wrap: normal;
}

.leave-edit-info {
    width: 7rem;
}

.head-button {
    color: #017EFA;
    border: 0.1rem solid #017EFA;
    background-color: none;
    border-radius: 0.5rem;
    width: 10rem;
    padding: 0.5rem 1rem;
    transition: 0.2s;
}

.head-button:hover {
    color: #FFFFFF;
    background-color: #017EFA;
}

.no-leave-data {
    width: 1112px;
    height: 100px;

    border-top: 0.07rem solid #cccccc;

    /* font-family: 'Noto Sans'; */
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height */

    color: #1c1f37a0;
}
