.content {
    position: absolute;

    left: 16.25rem;
    right: 0;
    top: 4rem;
    bottom: 0;
}

.paq-form-margin {
    display: flex;
    flex-direction: column;

    margin-inline: 38px;
    margin-block: 20px;
}



.paq-form-head {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    flex-wrap: wrap;
}

.paq-form-heading {
    display: flex;
    flex-direction: column;

    font-family: 'Proxima Nova';
    font-style: normal;
}

.paq-form-heading .form-title {
    width: 50%;
    padding-block: 0.75rem;

    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    color: #1C1F37;
}

.paq-form-heading .vehicle-model,
.paq-form-heading .chassis-no,
.paq-form-heading .engine-no {
    width: 50%;
    padding-block: 0.5rem;

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #1C1F37;
}

.paq-back-button-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.paq-back-button-box .back-button {
    box-sizing: border-box;


    align-items: center;
    padding: 0.5rem 1rem;

    color: #2773FF;

    border: 1px solid #2773FF;
    border-radius: 4px;

    transition-duration: 0.25s;

}

.paq-back-button-box .back-button:hover {
    color: #FFFFFF;
    background-color: #2773FF;
    transition-duration: 0.25s;
}




.paq-form-box {
    width: 100%;

    background: #FFFFFF;
    border-radius: 22px;
}

.paq-input-set-1,
.paq-input-set-2,
.paq-input-set-3,
.paq-input-set-4,
.paq-input-set-6,
.paq-input-set-5,
.paq-input-set-7 {
    margin-inline: 45px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.paq-input-set-1 {
    margin-top: 25px;
}

.paq-input-set-1,
.paq-input-set-2
.paq-input-set-6 {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.paq-input-set-7 {
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
}

.paq-input-set-5 {
    display: flex;
    flex-direction: row;

    gap: 0  2.4rem;
}

.paq-input-field-short,
.paq-input-field-long {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 12px;

    /* interactive-enabled */

    background: #FFFFFF;
    border: 1px solid #CED4DA;
    border-radius: 6px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    z-index: 1;
    resize: none;
}

.paq-input-field-long::placeholder,
.paq-input-field-short::placeholder {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    letter-spacing: 0.3px;

    opacity: 0.4;
}

.paq-input-field-short {
    width: 410px;
    height: 40px;
}

.paq-input-field-long {
    width: 985px;
    height: 40px;
}

.tall-input-1 {
    height: 90px;
}

.paq-label {
    height: 16px;
    margin-block: auto;

    /* Bold/12px */

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.3px;
    text-transform: uppercase;

    /* grayscale / gray */

    color: #9FA2B4;
}

.paq-reset-button,
.paq-submit-button {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    background-color: #FFFFFF;

    width: 250px;
    height: 36px;
}

.paq-submit-button {
    color: #2773FF;

    border: 1px solid #2773FF;
    border-radius: 8px;
}

.paq-reset-button {
    color: #000000;

    border: 1px solid #000000;
    border-radius: 8px;
}

.paq-submit-button:hover {
    background-color: #2773FF;
    color: #FFFFFF;
    transition-duration: 0.15s;
}

.paq-reset-button:hover {
    background-color: #000000;
    color: #FFFFFF;
    transition-duration: 0.15s;
}











.display-none {
    display: none;
}

.vertical-centralizer {
    display: flex;
    flex-direction: column;

    justify-content: center;

}

.horizontal-centralizer {
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.TB {
    border: 1px solid black;
    margin-block: auto;
}