.paq-form-screen {
    position: absolute;
    /*width: 473.8px;*/
    /*height: 50px;*/
    left: 16.25rem;
    right: 0rem;
    top: 4rem;
    bottom: 0rem;
}

.paq-form-area {
    display: flex;
    flex-direction: column;

    margin-inline: 38px;
    margin-bottom: 30px;
    margin-top: 15px;
}

.paq-form-header-box {
    width: 1100px;
    height: 97px;
}

.paq-form-heading {

    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.paq-title {
    width: 500px;
    height: 30px;

    /* font-family: 'Noto Sans'; */
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    color: #1C1F37;
}

.paq-back-button {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;

    color: #2773FF;

    width: 149.16px;
    height: 33px;

    /* /Primary / Default */

    border: 1px solid #2773FF;
    border-radius: 4px;
}

.paq-back-button:hover {
    background-color: #2773FF20;
    transition-duration: 0.15s;
}

.paq-vehicle-model,
.chassis-no,
.engine-no {
    width: 295px;
    height: 20px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #000000;
}

.paq-form-box {
    width: 1100px;
    /*height: 480px;*/
    /*height: 540px;*/

    background: #FFFFFF;
    border-radius: 22px;
}

.paq-input-field-short,
.paq-input-field-long {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 12px;

    /* interactive-enabled */

    background: #FFFFFF;
    border: 1px solid #CED4DA;
    border-radius: 6px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    z-index: 1;
    resize: none;
}

.paq-input-field-long::placeholder,
.paq-input-field-short::placeholder {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    letter-spacing: 0.3px;

    opacity: 0.4;
}

.paq-input-field-short {
    width: 410px;
    height: 40px;
}

.paq-input-field-long {
    width: 985px;
    height: 40px;
}

.tall-input-1 {
    height: 90px;
}

.paq-input-set-1,
.paq-input-set-2,
.paq-input-set-3,
.paq-input-set-4,
.paq-input-set-6,
.paq-input-set-5,
.paq-input-set-7 {
    margin-inline: 45px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.paq-input-set-1 {
    margin-top: 25px;
}

.paq-input-set-1,
.paq-input-set-6,
.paq-input-set-2 {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.paq-input-set-7 {
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
}

.paq-input-set-5 {
    display: flex;
    flex-direction: row;

    gap: 0 36px;
}

.paq-label {
    height: 16px;
    margin-block: auto;

    /* Bold/12px */

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.3px;
    text-transform: uppercase;

    /* grayscale / gray */

    color: #9FA2B4;
}

.paq-reset-button,
.paq-submit-button {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    background-color: #FFFFFF;

    width: 250px;
    height: 36px;
}

.paq-submit-button {
    color: #2773FF;

    border: 1px solid #2773FF;
    border-radius: 8px;
}

.paq-reset-button {
    color: #000000;

    border: 1px solid #000000;
    border-radius: 8px;
}

.paq-submit-button:hover {
    background-color: #2773FF;
    color: #FFFFFF;
    transition-duration: 0.15s;
}

.paq-reset-button:hover {
    background-color: #000000;
    color: #FFFFFF;
    transition-duration: 0.15s;
}








.display-none {
    display: none;
}

.vertical-centralizer {
    display: flex;
    flex-direction: column;

    justify-content: center;

}

.horizontal-centralizer {
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.TB {
    border: 1px solid black;
    margin-block: auto;
}