
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* --------------- SUPERVISOR DASHBOARD ---------------*/


/* DASHBOARD PAGE CONTENT */
/* .dec {
    border: 1px solid rgb(0, 0, 0);
} */


.detailed_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);

    left: 16.25rem;
    right: 0rem;
    top: 4rem;
    bottom: 0rem;
}

/* <- LEFT SIDE OF PAGE CONTENT */
.left {
    margin-left: 2rem;
}

/* HEADING */
.heading {
    margin: 1rem 2rem 0.25rem 2rem;
    font-size: x-large;
}

/* LEFT SIDE DETAILED BOX (UPPER) */
.indetail {
    min-height: 22.75rem;
    min-width: 42rem;
    /* margin-top: 1rem; */

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    background-color: white;
    border-radius: 1.2rem;
    padding: 1rem;
}

.upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.graph {
    margin: 1rem;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chart {
    text-align: center;
}

.donut {
    height: 20vh;
    width: 20vh;
    margin: 1vh;
}

.map_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.map {
    min-height: 1.2rem;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 0.2rem;
    margin-inline: 0.36rem;

    min-width: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: left;

    font-size: small;
}

.circle_lb {
    height: 0.75rem;
    width: 0.75rem;
    margin: auto 1rem auto 0.5rem;
    background-color: #3ba5fb;
    border-radius: 50%;
}

.circle_db {
    height: 0.75rem;
    width: 0.75rem;
    margin: auto 1rem auto 0.5rem;
    background-color: #0853dd;
    border-radius: 50%;
}

/* LEFT SIDE DETAILED BOX DIVIDING LINE (UPPER) */
.line {
    border-left: 0.05rem solid rgb(199, 199, 199);
    height: 20.75rem;
    margin-block: auto;
}

.damages {
    margin: 1rem;
    min-width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* LEFT SIDE COUNTABLE DETAILS BOX OUTER (DOWN)*/
.count {
    min-height: 13.5rem;
    min-width: 42rem;

    margin-top: 1.5rem;

    background-color: white;
    border-radius: 1.2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* LEFT SIDE COUNTABLE DETAILS BOX INNER SINGLE (DOWN) */
.countbox {
    margin-block: auto;
    height: 9rem;
    width: 9rem;

    border: 0.1rem solid rgb(150, 150, 150);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    font-weight: bolder;
    color: rgb(49, 121, 253);
}

/* LEFT SIDE COUNTABLE DETAILS BOX INNER SINGLE NUMBER-BOX (DOWN) */
.number {
    font-size: 4rem;
}

/* -> RIGHT SIDE OF PAGE CONTENT */
.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-left: 2rem;
}

/* -> RIGHT SIDE ACTIVITY LOG BOX OUTER */
.logs {
    min-height: 10rem;
    min-width: 19rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: white;
    border-radius: 1.2rem;
    padding-block: 1rem;
}

/* -> RIGHT SIDE QUICK ACCESS BOX OUTER */
.quick {
    min-height: 7rem;
    min-width: 19rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: white;
    border-radius: 1.2rem;
}

/* -> RIGHT SIDE ACTIVITY LOG & QUICK ACCESS BOX INNER */
.sidebox {
    margin-inline: 1rem;
}

.activity_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.blue_button {
    min-width: 6rem;
    min-height: 2rem;

    background-color: #2773FF;
    color: white;
    font-size: small;
    border: none;
    border-radius: 10rem;
}

.blue_button:hover {
    background-color: rgb(99, 174, 250);
    box-shadow: 0 0 0.2rem #2773FF;
}

/* CALENDER BOX */
.calender {
    min-height: 19rem;
    min-width: 19rem;

    background-color: white;
    border-radius: 1.2rem;
}


.bold {
    font-weight: bold;
    font-size: 16px;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */