.task-schedule-margin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-inline: 40px;
    margin-block: 50px;
}

.task-schedule-header {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;

    color: #1C1F37;
}

.task-schedule-control-box {
    position: sticky;
    /* width: 100%; */
    /* width: calc(100% - 80px); */
    /* height: 75px; */
    width: calc(100% - 2rem);
    padding: 1rem;

    margin-top: 10px;

    background: #FFFFFF;
    border-radius: 10px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .content {
    padding-top: 4rem;
  }

.task-schedule-control-box .control-box-inner {
    flex-wrap: wrap;
    gap: 24px;
}

.name-box .new-task-name {
    width: 360px;
    height: 30px;
    padding-inline: 1rem;

    background: #FFFFFF;
    border: 1px solid #CED4DA;
    border-radius: 6px;
}

/* .name-box .new-task-name:focus {
    border: 1px solid #017EFA !important;
} */

.task-schedule-control-box .task-vehicle-selection {
    width: 280px !important;
    height: 35px;
    /* padding-inline-end: 0.5rem !important; */
    /* border-spacing: 0.5rem !important; */

    border: 1px solid #CED4DA !important;
    border-radius: 6px !important;

    color: #000000 !important;
}



.scheduled-list-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 10px;
    width: 100%;
    /* height: 350px; */

    background: #FFFFFF;
    border-radius: 10px;

}

.task-detail-box-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 90%;
    margin: 40px auto;

    /* border: 1px solid black; */


}

.task-schedule-record {
    display: flex;
    flex-direction: column;

    justify-content: center;

    /*border: 1px solid black;*/
    margin: 10px 0;

    width: 100%;
    /*height: 50px;*/

    border-bottom: 1px solid #D7D7D7;

    /* Inside auto layout */

    /*flex: none;*/
    /*order: 0;*/
    /*flex-grow: 0;*/
}

.task-schedule-record-inner {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    justify-content: space-around;
    flex-wrap: wrap;

    /*border: 1px solid black;*/
    margin-top: 12px;
    margin-bottom: 10px;

}

.vline {
    border-right: 1px solid #D7D7D7;
    /*border-inline: 1px solid #D7D7D7;*/
}






.round {
    position: relative;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 30%;
    cursor: pointer;
    height: 20px;
    left: 25px;
    position: absolute;
    top: 0;
    width: 20px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 4px;
    left: 5px;
    opacity: 0;
    position: absolute;
    top: 6px;
    transform: rotate(-45deg);
    width: 9px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
    background-color: #017EFA;
    border-color: #017EFA;
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}











.task-add-form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 12px;

    width: 410px;
    height: 40px;

    /* interactive-enabled */

    background: #FFFFFF;
    border: 1px solid #CED4DA;
    border-radius: 6px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    z-index: 1;
}


.task-vehicle {
    width: 150px;
    overflow-wrap: normal;
}

.task-name,
.task-worker,
.task-vehicl {
    width: 200px;
    overflow-wrap: normal;
}

.task-name,
.task-worker,
.task-vehicle .task-vehicle-id {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
}

.task-status {
    width: 60px;
}

.task-add-button {
    /* Button / Primary / Medium */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;

    width: 100px;
    height: 35px;

    /* /Primary / Default */

    border: 1px solid #2773FF;
    border-radius: 4px;

    color: #2773FF;
    background-color: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.task-add-button:disabled {
    border: 1px solid #2773FF88;
    color: #2773FF88;
    cursor: default;
}


.low-content-blurer {
    position: fixed;
    left: 16.25rem;
    right: 0;
    top: 0;
    bottom: 0;

    background-color: #FFFFFFCC;
    z-index: 75;
}


.add-task-box {
    width: 36rem;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;

    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    padding: 1rem 2rem 3rem 2rem;
    border-radius: 1rem;
}

.add-task-box .box-heading {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
}


.assembler-assign {
    display: block;
    width: 25rem;
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid grey;
    appearance: none;
    border-radius: 10px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.assembler-assign-popup-window {
    width: 30rem;
    height: auto;

    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.add-task-box .popup-close-icon {
    position: relative;
    top: -0.15rem;
    right: -18.3rem;
}
/* .display-none {
    display: none;
} */