.task-schedule-screen {
    position: absolute;

    left: 16.25rem;
    right: 0rem;
    top: 4rem;
    bottom: 0rem;
    /* background-color: rgb(235, 235, 235); */
    background-color: rgb(242, 243, 247);
}

.task-schedule-area {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    /*align-items: center;*/

    margin-inline: 40px;
    margin-block: 50px;

    /* border: 1px solid black; */
}

.task-schedule-page-heading {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;

    color: #1C1F37;
}

.task-schedule-control-box {
    width: 1096px;
    height: 99px;

    margin-top: 10px;

    background: #FFFFFF;
    border-radius: 10px;
}

.task-schedule-control-box-inner {
    gap: 24px;
    flex-wrap: wrap;
}

.vertical-centralizer {
    display: flex;
    flex-direction: column;

    justify-content: center;

}

.horizontal-centralizer {
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.task-detail-box-outer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 10px;
    width: 1096px;
    height: 350px;

    background: #FFFFFF;
    border-radius: 10px;

}

.task-detail-box-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px 64px 40px 60px;


}

.task-schedule-record {
    display: flex;
    flex-direction: column;

    justify-content: center;

    /*border: 1px solid black;*/
    margin: 10px 0;

    width: 950px;
    /*height: 50px;*/

    border-bottom: 1px solid #D7D7D7;

    /* Inside auto layout */

    /*flex: none;*/
    /*order: 0;*/
    /*flex-grow: 0;*/
}

.task-schedule-record-inner {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    flex-wrap: wrap;

    /*border: 1px solid black;*/
    margin-top: 12px;
    margin-bottom: 10px;

}

.vline {
    border-right: 1px solid #D7D7D7;
    /*border-inline: 1px solid #D7D7D7;*/
}






.round {
    position: relative;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}











.task-add-form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 12px;

    width: 410px;
    height: 40px;

    /* interactive-enabled */

    background: #FFFFFF;
    border: 1px solid #CED4DA;
    border-radius: 6px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    z-index: 1;
}

.task-vehicle-selection {
    width: 326px;
    height: 40px;
    padding-inline: 10px;

    border: 1px solid #D7D7D7;
    border-radius: 6px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.task-add-button {
    /* Button / Primary / Medium */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;

    width: 105px;
    height: 40px;

    /* /Primary / Default */

    border: 1px solid #2773FF;
    border-radius: 4px;

    color: #2773FF;
    background-color: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

/* .display-none {
    display: none;
} */