.single-stage-margin {
    margin: 30px 40px;
    display: flex;
    flex-direction: row;
}




.single-stage-head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.single-stage-head .heading{
    color: black;
}

.stage-progress-head button {
    background-color: none;
    color: #017EFA;

    width: 175px;
    height: 36px;
    border: 1px solid #017EFA;
    border-radius: 6px;
}




.single-stage-body {
    display: flex;
    flex-direction: column;
}

.single-stage-body .single-stage-chart {
    width: 400px;
    height: 525px;

    background-color: #FFFFFF;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* .stage-progress-body .single-stage-chart .chart-heading {} */

/* .stage-progress-body .single-stage-chart .chart-box {} */

/* .stage-progress-body .single-stage-chart .chart-legend {} */


.stage-progress-body .stage-controls {
    background-color: #FFFFFF;
    border-radius: 10px;
}