@import "dashboard.css";
@import "consumablelist.css";
@import "pdiresults.css";
@import "schedule.css";
@import "paqrecord.css";
@import "paqresults.css";
@import "defectsheet.css";
@import "vehicleparts.css";
@import "flashmessage.css";
@import "addleave.css";
@import "buttons.css";
@import "calender.css";
@import "chart.css";
@import "leaves.css";
@import "grid.css";
@import "confirmbox.css";
@import "settings.css";
@import "tools.css";
@import "common.css";
@import "overall.css";
@import "vehiclelist.css";
@import "stages.css";
@import "flex.css";
@import "button.css";


body {
    margin: 0;
    background: #F2F2F7;
    font-family: "Montserrat", sans-serif;
}

:root {
    --black: #000;
    --white: #fff;
    --blue: #418CFD;
    --gray: #d7d7d7;
    --darkblue: #1B2B65;
    --lightblue: #51CBFF;
    --fontblue: #1C1F37;
    --fontgray: #7c7a7a;
    --checkblue: #1266F1;
    --btnhover: #D4E3FF76;
    --linkblue: #017EFA;
    --green: #29CC97;
    --red: #ee0b0b;
    --yellow: #FEC400;
}


h3 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.3px;
}

/* Margins */
.margin-0 {
    margin: 0 !important
}

.margin-1 {
    margin: .25rem !important
}

.margin-2 {
    margin: .5rem !important
}

.margin-3 {
    margin: 1rem !important
}

.margin-4 {
    margin: 1.5rem !important;
    --margin: 1.5rem;
}

.margin-5 {
    margin: 3rem !important
}

.margin-auto {
    margin: auto !important
}

.marginx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important
}

.marginx-1 {
    margin-right: .25rem !important;
    margin-left: .25rem !important
}

.marginx-2 {
    margin-right: .5rem !important;
    margin-left: .5rem !important
}

.marginx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important
}

.marginx-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important
}

.marginx-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important
}

.marginx-auto {
    margin-right: auto !important;
    margin-left: auto !important
}

.marginy-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.marginy-1 {
    margin-top: .25rem !important;
    margin-bottom: .25rem !important
}

.marginy-2 {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important
}

.marginy-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important
}

.marginy-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important
}

.marginy-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important
}

.marginy-auto {
    margin-top: auto !important;
    margin-bottom: auto !important
}

.margin-top-0 {
    margin-top: 0 !important
}

.margin-top-1 {
    margin-top: .25rem !important
}

.margin-top-2 {
    margin-top: .5rem !important
}

.margin-top-3 {
    margin-top: 1rem !important
}

.margin-top-4 {
    margin-top: 1.5rem !important
}

.margin-top-5 {
    margin-top: 3rem !important
}

.margin-top-auto {
    margin-top: auto !important
}

.margin-right-0 {
    margin-right: 0 !important
}

.margin-right-1 {
    margin-right: .25rem !important
}

.margin-right-2 {
    margin-right: .5rem !important
}

.margin-right-3 {
    margin-right: 1rem !important
}

.margin-right-4 {
    margin-right: 1.5rem !important
}

.margin-right-5 {
    margin-right: 3rem !important
}

.margin-right-auto {
    margin-right: auto !important
}

.margin-bottom-0 {
    margin-bottom: 0 !important
}

.margin-bottom-1 {
    margin-bottom: .25rem !important
}

.margin-bottom-2 {
    margin-bottom: .5rem !important
}

.margin-bottom-3 {
    margin-bottom: 1rem !important
}

.margin-bottom-4 {
    margin-bottom: 1.5rem !important
}

.margin-bottom-5 {
    margin-bottom: 3rem !important
}

.margin-bottom-auto {
    margin-bottom: auto !important
}

.margin-left-0 {
    margin-left: 0 !important
}

.margin-left-1 {
    margin-left: .25rem !important
}

.margin-left-2 {
    margin-left: .5rem !important
}

.margin-left-3 {
    margin-left: 1rem !important
}

.margin-left-4 {
    margin-left: 1.5rem !important
}

.margin-left-5 {
    margin-left: 3rem !important
}

.margin-left-auto {
    margin-left: auto !important
}

/* Padding */
.padding-0 {
    padding: 0 !important
}

.padding-1 {
    padding: .25rem !important
}

.padding-2 {
    padding: .5rem !important
}

.padding-3 {
    padding: 1rem !important
}

.padding-4 {
    padding: 1.5rem !important
}

.padding-5 {
    padding: 3rem !important
}

.paddingx-0 {
    padding-right: 0 !important;
    padding-left: 0 !important
}

.paddingx-1 {
    padding-right: .25rem !important;
    padding-left: .25rem !important
}

.paddingx-2 {
    padding-right: .5rem !important;
    padding-left: .5rem !important
}

.paddingx-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important
}

.paddingx-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important
}

.paddingx-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important
}

.paddingy-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.paddingy-1 {
    padding-top: .25rem !important;
    padding-bottom: .25rem !important
}

.paddingy-2 {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important
}

.paddingy-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important
}

.paddingy-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important
}

.paddingy-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important
}

.padding-top-0 {
    padding-top: 0 !important
}

.padding-top-1 {
    padding-top: .25rem !important
}

.padding-top-2 {
    padding-top: .5rem !important
}

.padding-top-3 {
    padding-top: 1rem !important
}

.padding-top-4 {
    padding-top: 1.5rem !important
}

.padding-top-5 {
    padding-top: 3rem !important
}

.padding-right-0 {
    padding-right: 0 !important
}

.padding-right-1 {
    padding-right: .25rem !important
}

.padding-right-2 {
    padding-right: .5rem !important
}

.padding-right-3 {
    padding-right: 1rem !important
}

.padding-right-4 {
    padding-right: 1.5rem !important
}

.padding-right-5 {
    padding-right: 3rem !important
}

.padding-bottom-0 {
    padding-bottom: 0 !important
}

.padding-bottom-1 {
    padding-bottom: .25rem !important
}

.padding-bottom-2 {
    padding-bottom: .5rem !important
}

.padding-bottom-3 {
    padding-bottom: 1rem !important
}

.padding-bottom-4 {
    padding-bottom: 1.5rem !important
}

.padding-bottom-5 {
    padding-bottom: 3rem !important
}

.padding-left-0 {
    padding-left: 0 !important
}

.padding-left-1 {
    padding-left: .25rem !important
}

.padding-left-2 {
    padding-left: .5rem !important
}

.padding-left-3 {
    padding-left: 1rem !important
}

.padding-left-4 {
    padding-left: 1.5rem !important
}

.padding-left-5 {
    padding-left: 3rem !important
}

/* Text alignment */
.text-left {
    text-align: left !important
}

.text-center {
    text-align: center !important
}

.text-right {
    text-align: right !important
}

.text-justify {
    text-align: justify !important
}

/* Item alignment */
.align-items-start {
    align-items: flex-start !important
}

.align-items-center {
    align-items: center !important
}

.align-items-end {
    align-items: flex-end !important
}

.align-items-stretch {
    align-items: stretch !important
}

.align-items-baseline {
    align-items: baseline !important
}

.align-self-center {
    align-self: center !important;
}

.align-self-start {
    align-self: flex-start !important;
}

/* Justify content */
.justify-content-start {
    justify-content: flex-start !important
}

.justify-content-center {
    justify-content: center !important
}

.justify-content-end {
    justify-content: flex-end !important
}

.justify-content-between {
    justify-content: space-between !important
}

.justify-content-around {
    justify-content: space-around !important
}

/* Display */
.display-flex-row {
    display: flex !important;
    flex-direction: row;
}

.display-flex-column {
    display: flex !important;
    flex-direction: column;
}

.display-none {
    display: none !important
}

.display-block {
    display: block !important
}

.inner-layout {
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Gap */
.gap-0p5 {
    gap: 0.5rem;
}

.gap-0p75 {
    gap: 0.75rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-2p6 {
    gap: 2.6rem;
}

.gap-46 {
    gap: 46rem;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030
}


/* Heights */
.height-0 {
    height: 0% !important
}

.height-25 {
    height: 25% !important
}

.height-50 {
    height: 50% !important
}

.height-75 {
    height: 75% !important
}

.height-100 {
    height: 100% !important
}

.height-vh-100 {
    height: 100vh !important
}

/* Widths */
.width-0 {
    width: 0% !important
}

.width-25 {
    width: 25% !important
}

.width-50 {
    width: 50% !important
}

.width-75 {
    width: 75% !important
}

.width-100 {
    width: 100% !important
}

.width-inherit {
    width: inherit !important;
}

/* Borders */
.border-gray {
    border: 1px solid var(--gray) !important;
    border-radius: 1rem;
}

.border-blue {
    border: 1px solid var(--blue) !important;
    border-radius: 1rem;
}

.border-bottom {
    border-bottom: 1px solid var(--gray) !important;
}

.border-radius-0 {
    border-radius: 0rem;
}


.border-radius-0p5 {
    border-radius: 0.5rem;
}

.border-radius-1 {
    border-radius: 1rem;
}

.background-white {
    background-color: var(--white);
}

.background-blue {
    background-color: var(--blue);
}

/* Text */
.text-black {
    color: var(--black) !important
}

.text-white {
    color: var(--white) !important
}

.text-blue {
    color: var(--blue) !important
}

.text-gray {
    color: var(--gray) !important
}

.text-center {
    text-align: center !important
}

.text-decoration-none {
    text-decoration: none !important
}

/* Flex Columns */
.column-auto {
    flex: 0 0 auto;
    width: auto
}

.column-1 {
    flex: 0 0 auto;
    width: 25%
}

.column-2 {
    flex: 0 0 auto;
    width: 50%
}

.column-3 {
    flex: 0 0 auto;
    width: 75%
}

.column-4 {
    flex: 0 0 auto;
    width: 100%
}

/* Container */
.container {
    background-color: var(--white);
    position: absolute;
    right: 0;
    height: 4rem;
    left: 16.25rem;
    padding-inline: 1rem;
}


/* Width in REM */
.width-rem-0p75 {
    width: 0.75rem;
}

.width-rem-1p25 {
    width: 1.25rem;
}

.width-rem-2p5 {
    width: 2.5rem;
}

.width-rem-10 {
    width: 14rem !important
}

.width-rem-12p5 {
    width: 12.5rem;
}

.width-rem-15p7 {
    width: 15.7rem !important
}

.width-rem-20 {
    width: 20rem !important
}

.width-rem-25 {
    width: 25rem !important
}


/* Position */
.position-relative {
    position: relative !important
}

.position-absolute {
    position: absolute !important
}

.position-fixed {
    position: fixed !important
}

/* Z-index */
.z-index-1 {
    z-index: 1 !important
}

/* Font Weight */
.font-weight {
    font-weight: 700;
}

/* Card */
.card {
    --card-spacer-y: 1rem;
    --card-spacer-x: 1rem;
    --card-title-spacer-y: 0.5rem;
    --card-border-width: 1px;
    --card-border-color: var(--bs-border-color-translucent);
    --card-border-radius: 0.375rem;
    --card-box-shadow: unset;
    --card-inner-border-radius: calc(0.375rem - 1px);
    --card-cap-padding-y: 0.5rem;
    --card-cap-padding-x: 1rem;
    --card-cap-bg: rgba(0, 0, 0, 0.03);
    --card-cap-color: unset;
    --card-height: unset;
    --card-color: unset;
    --card-bg: #fff;
    --card-img-overlay-padding: 1rem;
    --card-group-margin: 0.75rem;
    --bs-border-color-translucent: unset;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--card-height);
    word-wrap: break-word;
    background-color: var(--card-bg);
    background-clip: border-box;
    border: var(--card-border-width) solid var(--card-border-color);
    border-radius: var(--card-border-radius)
}

.card-body {
    flex: 1 1 auto;
    padding: var(--card-spacer-y) var(--card-spacer-x);
    color: var(--card-color)
}

/* Button */
.btn {
    width: var(--btn-width);
    height: var(--btn-height);
    display: inline-block;
    padding: var(--btn-padding-y) var(--btn-padding-x);
    font-family: var(--btn-font-family);
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);
    line-height: var(--btn-line-height);
    color: var(--btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--btn-border-width) solid var(--btn-border-color);
    border-radius: var(--btn-border-radius);
    background-color: var(--btn-bg);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:hover {
    background-color: var(--btn-hover-bg);
    color: var(--btn-hover-color);
    border: 1px solid var(--btn-hover-border-color);
}

.btn:focus {
    box-shadow: none;
}

.btn:disabled {
    opacity: .65;
    cursor: default;
    background-color: var(--btn-bg) !important;
}

.btn-primary {
    --btn-color: var(--blue);
    --btn-bg: white;
    --btn-border-color: var(--blue);
    --btn-hover-color: var(--blue);
    --btn-hover-bg: #D4E3FF76;
    --btn-hover-border-color: var(--blue);
    --btn-width: 16.75rem;
    --btn-height: 3rem;
    --btn-padding-x: 0.75rem;
    --btn-padding-y: 0.375rem;
    --btn-font-family: ;
    --btn-font-size: 1rem;
    --btn-font-weight: 400;
    --btn-line-height: 1.5;
    --btn-border-width: 1px;
    --btn-border-radius: 0.5rem;
    --btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --btn-disabled-opacity: 0.65;
    --btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--btn-focus-shadow-rgb), .5);
}

.btn-blue {
    --btn-bg: var(--blue);
    --btn-color: var(--white);
    --btn-border-color: none;
    --btn-hover-bg: none;
    --btn-hover-color: var(--blue);
    --btn-hover-border-color: var(--blue);
    --btn-width: 7.5rem;
    --btn-font-size: 0.7rem;
}

.btn-green {
    --btn-color: var(--green);
    --btn-border-color: var(--green);
    --btn-hover-color: var(--green);
    --btn-hover-bg: #e8f5e973;
    --btn-hover-border-color: var(--green);
}

.btn-red {
    --btn-color: var(--red);
    --btn-border-color: var(--red);
    --btn-hover-color: var(--red);
    --btn-hover-bg: #ee0b0b14;
    --btn-hover-border-color: var(--red);
}

.btn-red-2 {
    --btn-bg: var(--red);
    --btn-color: var(--white);
    --btn-border-color: none;
    --btn-hover-bg: none;
    --btn-hover-color: var(--red);
    --btn-hover-border-color: var(--red);
    --btn-width: 7rem;
    --btn-height: 2rem;
    --btn-font-size: 0.7rem;
}

/* Form */
.form-control {
    --input-border: 1px;
    --input-border-color: var(--gray);
    --input-border-radius: 1rem;
    display: block;
    width: 16.75rem;
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: var(--input-border) solid var(--input-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--input-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-label {
    margin-bottom: .5rem
}

.form-control::placeholder {
    opacity: 0;
}

.form-control:focus {
    --input-border-color: var(--blue);
    outline: 0;
    box-shadow: none;
}

.form-control-invalid {
    --input-border-color: #ee0b0b;
    outline: 0;
    box-shadow: none;
}


input:focus~label.form-label,
input:not(:placeholder-shown)~label.form-label {
    bottom: 4.5em;
    left: 1.5em;
    background-color: white;
    padding: 0 0.5em;
    font-size: 0.8em;
    opacity: 1;
    color: var(--blue);
}

input:not(:focus)~label.form-label {
    color: #718394;
}

input.red:focus {
    border-color: var(--blue);
    outline: 0;
    box-shadow: none;
}

input:not(:focus)~label.red {
    color: #ee0b0b;
}

label.form-label {
    position: relative;
    bottom: 2em;
    left: 1.5em;
    color: #ced4da;
    pointer-events: none;
    transition: 0.2s ease all;
    margin: unset;
}

input.form-control:-webkit-autofill,
input.form-control:-webkit-autofill:hover,
input.form-control:-webkit-autofill:focus,
input.form-control:-webkit-autofill:active {
    background-color: white;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue);
}

/* Checkboxes */
.form-control-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-control-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid var(--gray);
    box-shadow: inset 3.2px 3.2px 5.6px rgb(0 0 0 / 5%);
    border-radius: 0.65rem;
}

.form-control-checkbox input:checked~.checkmark {
    border: 1px solid var(--checkblue);
    background-color: var(--checkblue);
}

/* .form-control-checkbox:after {
    content: "";
    position: absolute;
    display: none;
  } */

input:checked~.checkmark:after {
    content: "";
    position: absolute;
    left: 0.45rem;
    bottom: 0.4rem;
    width: 0.4rem;
    height: 0.8rem;
    border: solid var(--white);
    border-width: 0 0.2rem 0.2rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Select */
div.select {
    position: absolute;
    top: 14rem;
    cursor: pointer;
}

/* input:focus~div.select {
    display: block !important;
    position: absolute;
    top: 14rem;
    cursor: pointer;
} */

/* Settings Image */

.border-radius-11 {
    border-radius: 11rem;
}

.height-rem-12p5 {
    height: 12.5rem !important;
}

.width-rem-12p5 {
    width: 12.5rem !important
}

.background-image {
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: cover;
}

.font-size {
    font-size: 12px !important;
}

.text-fontgray {
    color: var(--fontgray) !important
}

.pointer {
    cursor: pointer;
}

/* Settings Pop Up */

.overlay {
    position: fixed;
    top: 4rem;
    bottom: 0;
    left: 16.25rem;
    right: 0;
    background: rgb(0 0 0 / 16%);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    text-transform: capitalize;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.pop-container {
    transition: all 5s ease-in-out;
}

.pop {
    animation: pop 0.7s;
}

.close {
    position: absolute;
    top: 0.5em;
    right: 1em;
    transition: all 200ms;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.close:hover {
    color: #06D85F;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(1.1);
    }

    70% {
        transform: scale(1.2);
    }

    80% {
        transform: scale(1);
    }

    90% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.cursor-pointer {
    cursor: pointer;
}

/* Top Nav Bar */
.height-rem-2p5 {
    height: 2.5rem !important;
}

.width-rem-2p5 {
    width: 2.5rem !important
}