/* BODY STYLES */
body {
    background-color: rgb(235, 235, 235);
    font-family: sans-serif;
}

/* FULL PAGE CONTAINER */
.page {
    display: flex;
    flex-direction: row;
}

/* NAVIGATION BAR */
.navigation {
    min-height: 97vh;
    min-width: 17vw;
    background-color: rgb(12, 10, 94)
}

/* FULL CONTENT WITHOUT NAVIGATION BAR */
.full_content {
    min-height: 97vh;
    min-width: 83vw;
    
    display: flex;
    flex-direction: column;
}

/* TOP MENU BAR */
.top_content {
    min-height: 9vh;
    min-width: 83vw;
    
    display: flex;
    background-color: rgb(255, 255, 255);
}

/* PAGE CONTENT */
.detailed_content {
    min-height: 88vh;
    min-width: 78vw;
    
    display: flex;
    flex-direction: row;

    background-color:rgb(235, 235, 235);
    margin-left: 20%;
}

/* <- LEFT SIDE OF PAGE CONTENT */
.left {
    width: 700px;
    height: 500px;
    padding-left: 3rem;
    border-radius: 1.2rem;
}

/*  <- LEFT SIDE HEADING */
.heading {
    margin-top: 100px;
    margin-bottom: -50px;
    font-size: x-large;
    height: 5%;
}

.row{
    margin-top: 10%;
}

/* LEFT SIDE DETAILED BOX (UPPER) */
/* .indetail{
    min-height: 39vh;
    min-width: 48vw;
    margin-top: 1rem;

    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-evenly;

    background-color:white;
    border-radius: 1.2rem;
} */ 

.upper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.oal1{
    margin-top: 20%;
    text-align-last: center;
}
.oal2{
    margin-top: 5%; 
    align-content: center;
    padding-left: 5%;
}
.c1{
    margin-top: -5%;
}
.c11{
    content: "";
    display: table;
    clear: both;
  }

  .c111 {
    float: left;
    padding: 15px;
    height: 400px; /* Should be removed. Only for demonstration */
  }
  
* {
    box-sizing: border-box;
  }
  
  /* Create two unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 30px;
    height: 400px; /* Should be removed. Only for demonstration */
    border-radius: 15px;
  }

  
.graph {
    margin-block: auto;
    /* flex: 50%; */
    padding: 10px;
    height: 500px;
}

.le {
    width: 60%;
  }
  
  .ri {
    width: 40%;
  }

.chart {
    text-align: center;
}

.donut {
    height: 20vh;
    width: 20vh;
    margin: 1vh;
}

.map_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.map {
    min-height: 1.2rem;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 0.2rem;
    margin-inline: 0.36rem;

    min-width: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: left;

    font-size: small;
}

.circle {
    height: 0.75rem;
    width: 0.75rem;
    margin: auto 1rem auto 0.5rem;
    background-color: rgb(23, 7, 114);
    border-radius: 50%;
}

/* LEFT SIDE DETAILED BOX DIVIDING LINE (UPPER) */
.line {
    border-left: 0.05rem solid rgb(199, 199, 199);
    height: 30vh;
    margin-block: auto;
    background-color: blue;
}

.damages {
    margin-block: auto;
    min-width: 12rem; /*XXXXXXXXXXXXXXXXX UNTIL FINISH XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
}

/* LEFT SIDE COUNTABLE DETAILS BOX OUTER (DOWN)*/
/* .count {
    min-height: 27vh;
    min-width: 48vw;
    margin-top: 1rem;

    background-color:white;
    border-radius: 1.2rem;

    display: flex;
    flex-direction: row;
    justify-content:space-around;
} */

/* LEFT SIDE COUNTABLE DETAILS BOX INNER SINGLE (DOWN) */
.countbox {
    margin-block: auto;
    height: 9vw;
    width: 9vw;

    border: 0.1rem solid rgb(150, 150, 150);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    color: rgb(49, 121, 253);
}

.countbox2 {
    margin-block: auto;
    height: 13vw;
    width: 13vw;

    border: 0.1rem solid rgb(150, 150, 150);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    color: rgb(49, 121, 253);
    
}

/* LEFT SIDE COUNTABLE DETAILS BOX INNER SINGLE NUMBER-BOX (DOWN) */
.number1 {
    font-size: 4rem;
    font-weight: bolder;
}
.number2 {
    font-size: 6rem;
    font-weight: bolder;
}
.text1{
    font-size: medium;
}
.text2{
    font-size: x-large;
}

/* -> RIGHT SIDE OF PAGE CONTENT */
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 1rem;
    margin-top: 10%;
}

/* -> RIGHT SIDE ACTIVITY LOG BOX OUTER */
.logs {
    min-height: 21vh;
    min-width: 24vw;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color:white;
    border-radius: 1.2rem;
}

/* -> RIGHT SIDE QUICK ACCESS BOX OUTER */
.quick {
    min-height: 21vh;
    min-width: 24vw;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color:white;
    border-radius: 1.2rem;
}

/* -> RIGHT SIDE ACTIVITY LOG & QUICK ACCESS BOX INNER */
.sidebox {
    margin-inline: 10%;
    padding-left: 2%;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.blue_button {
    min-width: 7rem;
    min-height: 2.5rem;

    background-color: dodgerblue;
    color: white;
    font-size: small;
    border: none;
    border-radius: 10rem;
    padding: 5%;
}
.red_button {
    min-width: 7rem;
    min-height: 2.5rem;

    background-color: red;
    color: white;
    font-size: small;
    border: none;
    border-radius: 10rem;
    padding: 5%;
}

.blue_button:hover {
    background-color: rgb(99, 174, 250);
    box-shadow:  0 0 0.2rem rgb(144, 144, 255);
}
.red_button:hover {
    background-color: rgb(212, 72, 72);
    box-shadow:  0 0 0.2rem rgb(220, 72, 72);
}

/* CALENDER BOX */
.calender {
    min-height: 34vh;
    min-width: 25vw;
    margin-top: 1rem;

    background-color:white;
    border-radius: 1.2rem;
}


.bold {
    font-weight: bold;
}

.small {
    font-size: 10px;
}

#vehicles {
    width: 1.2rem;
    border: none;
}

@media screen and (max-width: 620px) {
    /* For mobile phones: */
    .left, .right {
      width: 100%;
    }
}


/*
div {
    border: 1px solid black;
}*/


/*//////////////////////////////*/

body {
    margin: 0;
    background: #F2F2F7;
    font-family: "Montserrat", sans-serif;
}

:root {
    --black: #000;
    --white: #fff;
    --blue: #418CFD;
    --gray: #d7d7d7;
    --darkblue: #1B2B65;
    --lightblue: #51CBFF;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.3px;
}

/* Margins */
.margin-0 {
    margin: 0 !important
}

.margin-1 {
    margin: .25rem !important
}

.margin-2 {
    margin: .5rem !important
}

.margin-3 {
    margin: 1rem !important
}

.margin-4 {
    margin: 1.5rem !important;
    --margin: 1.5rem;
}

.margin-5 {
    margin: 3rem !important
}

.margin-auto {
    margin: auto !important
}

.marginx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important
}

.marginx-1 {
    margin-right: .25rem !important;
    margin-left: .25rem !important
}

.marginx-2 {
    margin-right: .5rem !important;
    margin-left: .5rem !important
}

.marginx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important
}

.marginx-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important
}

.marginx-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important
}

.marginx-auto {
    margin-right: auto !important;
    margin-left: auto !important
}

.marginy-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.marginy-1 {
    margin-top: .25rem !important;
    margin-bottom: .25rem !important
}

.marginy-2 {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important
}

.marginy-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important
}

.marginy-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important
}

.marginy-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important
}

.marginy-auto {
    margin-top: auto !important;
    margin-bottom: auto !important
}

.margin-top-0 {
    margin-top: 0 !important
}

.margin-top-1 {
    margin-top: .25rem !important
}

.margin-top-2 {
    margin-top: .5rem !important
}

.margin-top-3 {
    margin-top: 1rem !important
}

.margin-top-4 {
    margin-top: 1.5rem !important
}

.margin-top-5 {
    margin-top: 3rem !important
}

.margin-top-auto {
    margin-top: auto !important
}

.margin-right-0 {
    margin-right: 0 !important
}

.margin-right-1 {
    margin-right: .25rem !important
}

.margin-right-2 {
    margin-right: .5rem !important
}

.margin-right-3 {
    margin-right: 1rem !important
}

.margin-right-4 {
    margin-right: 1.5rem !important
}

.margin-right-5 {
    margin-right: 3rem !important
}

.margin-right-auto {
    margin-right: auto !important
}

.margin-bottom-0 {
    margin-bottom: 0 !important
}

.margin-bottom-1 {
    margin-bottom: .25rem !important
}

.margin-bottom-2 {
    margin-bottom: .5rem !important
}

.margin-bottom-3 {
    margin-bottom: 1rem !important
}

.margin-bottom-4 {
    margin-bottom: 1.5rem !important
}

.margin-bottom-5 {
    margin-bottom: 3rem !important
}

.margin-bottom-auto {
    margin-bottom: auto !important
}

.margin-left-0 {
    margin-left: 0 !important
}

.margin-left-1 {
    margin-left: .25rem !important
}

.margin-left-2 {
    margin-left: .5rem !important
}

.margin-left-3 {
    margin-left: 1rem !important
}

.margin-left-4 {
    margin-left: 1.5rem !important
}

.margin-left-5 {
    margin-left: 3rem !important
}

.margin-left-auto {
    margin-left: auto !important
}

/* Padding */
.padding-0 {
    padding: 0 !important
}

.padding-1 {
    padding: .25rem !important
}

.padding-2 {
    padding: .5rem !important
}

.padding-3 {
    padding: 1rem !important
}

.padding-4 {
    padding: 1.5rem !important
}

.padding-5 {
    padding: 3rem !important
}

.paddingx-0 {
    padding-right: 0 !important;
    padding-left: 0 !important
}

.paddingx-1 {
    padding-right: .25rem !important;
    padding-left: .25rem !important
}

.paddingx-2 {
    padding-right: .5rem !important;
    padding-left: .5rem !important
}

.paddingx-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important
}

.paddingx-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important
}

.paddingx-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important
}

.paddingy-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.paddingy-1 {
    padding-top: .25rem !important;
    padding-bottom: .25rem !important
}

.paddingy-2 {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important
}

.paddingy-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important
}

.paddingy-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important
}

.paddingy-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important
}

.padding-top-0 {
    padding-top: 0 !important
}

.padding-top-1 {
    padding-top: .25rem !important
}

.padding-top-2 {
    padding-top: .5rem !important
}

.padding-top-3 {
    padding-top: 1rem !important
}

.padding-top-4 {
    padding-top: 1.5rem !important
}

.padding-top-5 {
    padding-top: 3rem !important
}

.padding-right-0 {
    padding-right: 0 !important
}

.padding-right-1 {
    padding-right: .25rem !important
}

.padding-right-2 {
    padding-right: .5rem !important
}

.padding-right-3 {
    padding-right: 1rem !important
}

.padding-right-4 {
    padding-right: 1.5rem !important
}

.padding-right-5 {
    padding-right: 3rem !important
}

.padding-bottom-0 {
    padding-bottom: 0 !important
}

.padding-bottom-1 {
    padding-bottom: .25rem !important
}

.padding-bottom-2 {
    padding-bottom: .5rem !important
}

.padding-bottom-3 {
    padding-bottom: 1rem !important
}

.padding-bottom-4 {
    padding-bottom: 1.5rem !important
}

.padding-bottom-5 {
    padding-bottom: 3rem !important
}

.padding-left-0 {
    padding-left: 0 !important
}

.padding-left-1 {
    padding-left: .25rem !important
}

.padding-left-2 {
    padding-left: .5rem !important
}

.padding-left-3 {
    padding-left: 1rem !important
}

.padding-left-4 {
    padding-left: 1.5rem !important
}

.padding-left-5 {
    padding-left: 3rem !important
}

/* Text alignment */
.text-left {
    text-align: left !important
}

.text-center {
    text-align: center !important
}

.text-right {
    text-align: right !important
}

.text-justify {
    text-align: justify !important
}

/* Item alignment */
.align-items-start {
    align-items: flex-start !important
}

.align-items-center {
    align-items: center !important
}

.align-items-end {
    align-items: flex-end !important
}

.align-items-stretch {
    align-items: stretch !important
}

.align-items-baseline {
    align-items: baseline !important
}

/* Justify content */
.justify-content-start {
    justify-content: flex-start !important
}

.justify-content-center {
    justify-content: center !important
}

.justify-content-end {
    justify-content: flex-end !important
}

.justify-content-between {
    justify-content: space-between !important
}

.justify-content-around {
    justify-content: space-around !important
}

/* Display */
.display-flex{
    display: flex !important;
}

.display-flex-column {
    display: flex !important;
    flex-direction: column;
    height: 100vh;
    gap: 2rem;
}

.display-flex-row {
    display: flex !important;
}

.display-block {
    display: block !important
}


.display-none {
    display: none !important
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030
}


/* Heights */
.height-0 {
    height: 0% !important
}

.height-25 {
    height: 25% !important
}

.height-50 {
    height: 50% !important
}

.height-75 {
    height: 75% !important
}

.height-100 {
    height: 100% !important
}

/* Widths */
.width-0 {
    width: 0% !important
}

.width-25 {
    width: 25% !important
}

.width-50 {
    width: 50% !important
}

.width-75 {
    width: 75% !important
}

.width-100 {
    width: 100% !important
}

/* Borders */
.border {
    border: 1px solid var(--gray) !important;
    border-radius: 1rem;
}

/* Text */
.text-black {
    --text-opacity: 1;
    color: rgba(var(--black), var(--text-opacity)) !important
}

.text-white {
    --text-opacity: 1;
    color: rgba(var(--white), var(--text-opacity)) !important
}

.text-blue {
    --text-opacity: 1;
    color: rgba(var(--blue), var(--text-opacity)) !important
}

.text-center {
    text-align: center !important
}

.text-decoration-none {
    text-decoration: none !important
}

/* Flex Columns */
.column-auto {
    flex: 0 0 auto;
    width: auto
}

.column-1 {
    flex: 0 0 auto;
    width: 25%
}

.column-2 {
    flex: 0 0 auto;
    width: 50%
}

.column-3 {
    flex: 0 0 auto;
    width: 75%
}

.column-4 {
    flex: 0 0 auto;
    width: 100%
}

/* Container */
.container {
    background-color: var(--white);
    position: absolute;
    width: 90.125rem;
    height: 5.625rem;
    left: 16.25rem;
}

/* row */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: var(--white);
}

.column {
    /* --margin-x: 10%;
    --margin-y: 8%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--white);
    margin-top: calc(1 * var(--margin-y));
    margin-right: calc(3.5 * var(--margin-x));
    margin-left: calc(3.5 * var(--margin-x))
}

.width-rem-0p75 {
    width: 0.75rem;
}
.width-rem-1p25 {
    width: 1.25rem;
}
.width-rem-2p5 {
    width: 2.5rem;
}

.width-rem-20 {
    width: 20rem !important
}

.width-rem-25 {
    width: 25rem !important
}

.font-weight {
    font-weight: 700;
}

/* Card */
.card {
    --card-spacer-y: 1rem;
    --card-spacer-x: 1rem;
    --card-title-spacer-y: 0.5rem;
    --card-border-width: 1px;
    --card-border-color: var(--bs-border-color-translucent);
    --card-border-radius: 0.375rem;
    --card-box-shadow: ;
    --card-inner-border-radius: calc(0.375rem - 1px);
    --card-cap-padding-y: 0.5rem;
    --card-cap-padding-x: 1rem;
    --card-cap-bg: rgba(0, 0, 0, 0.03);
    --card-cap-color: ;
    --card-height: ;
    --card-color: ;
    --card-bg: #fff;
    --card-img-overlay-padding: 1rem;
    --card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--card-height);
    word-wrap: break-word;
    background-color: var(--card-bg);
    background-clip: border-box;
    border: var(--card-border-width) solid var(--card-border-color);
    border-radius: var(--card-border-radius)
}

.card-body {
    flex: 1 1 auto;
    padding: var(--card-spacer-y) var(--card-spacer-x);
    color: var(--card-color)
}

/* Button */
.btn {
    width: var(--btn-width);
    height: var(--btn-height);
    display: inline-block;
    padding: var(--btn-padding-y) var(--btn-padding-x);
    font-family: var(--btn-font-family);
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);
    line-height: var(--btn-line-height);
    color: var(--btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--btn-border-width) solid var(--btn-border-color);
    border-radius: var(--btn-border-radius);
    background-color: var(--btn-bg);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:hover {
    background-color: var(--btn-hover-bg);
}

.btn:focus {
    box-shadow: none;
}

.btn-primary {
    --btn-color: var(--blue);
    --btn-bg: white;
    --btn-border-color: var(--blue);
    --btn-hover-color: var(--blue);
    --btn-hover-bg: #F2F2F2;
    --btn-hover-border-color: var(--blue);
    --btn-width: 16.75rem;
    --btn-height: 3rem;

    --btn-padding-x: 0.75rem;
    --btn-padding-y: 0.375rem;
    --btn-font-family: ;
    --btn-font-size: 1rem;
    --btn-font-weight: 400;
    --btn-line-height: 1.5;
    --btn-border-width: 1px;
    --btn-border-radius: 0.5rem;
    --btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --btn-disabled-opacity: 0.65;
    --btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--btn-focus-shadow-rgb), .5);
    /* --btn-focus-shadow-rgb: 49, 132, 253;
    --btn-active-color: #fff;
    --btn-active-bg: #0a58ca;
    --btn-active-border-color: #0a53be;
    --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --btn-disabled-color: #fff;
    --btn-disabled-bg: #0d6efd;
    --btn-disabled-border-color: #0d6efd; */
}

/* Form */
.form-control {
    --input-border: 1px;
    --input-border-color: var(--gray);
    --input-border-radius: 1rem;
    display: block;
    width: 16.75rem;
    padding: .6rem 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: var(--input-border) solid var(--input-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--input-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-label {
    margin-bottom: .5rem
}

.form-control::placeholder {
    opacity: 0;
}

.form-control:focus {
    --input-border-color: var(--blue);
    outline: 0;
    box-shadow: none;
}

.form-control-invalid {
    --input-border-color: #ee0b0b;
    outline: 0;
    box-shadow: none;
}


input:focus~label.form-label,
input:not(:placeholder-shown)~label.form-label {
    bottom: 4.5em;
    left: 1.5em;
    background-color: white;
    padding: 0 0.5em;
    font-size: 0.8em;
    opacity: 1;
    color: var(--blue);
}

input:not(:focus)~label.form-label {
    color: #ced4da;
}

input.red:focus {
    border-color: var(--blue);
    outline: 0;
    box-shadow: none;
}

input:not(:focus)~label.red {
    color: #ee0b0b;
}

label.form-label {
    position: relative;
    bottom: 2em;
    left: 1.5em;
    color: #ced4da;
    pointer-events: none;
    transition: 0.2s ease all;
    margin: none;
}

input.form-control:-webkit-autofill,
input.form-control:-webkit-autofill:hover,
input.form-control:-webkit-autofill:focus,
input.form-control:-webkit-autofill:active {
    background-color: white;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue);
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    height: 100%;
    overflow: auto;
    width: 260px;
    left: 0px;
    top: 0px;
    background: #081A51;
}

li a {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.75rem 0 0 0.75rem;
    color: #fff;
    height: 1.5rem;
    margin-left: 1rem;
    padding: 1rem 0rem 1rem 0.875rem;
    text-decoration: none;
}

li a.active {
    background-color: var(--darkblue);
    color: white;
}

li a:hover:not(.active) {
    background-color: var(--darkblue);
    color: white;
}

.nav_logo {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1.875rem;
    margin-top: 1.5rem;
}

.nav_section_headings {
    color: var(--lightblue);
    font-size: 12px;
    margin-left: 1.875rem;
    margin-bottom: 0.5625rem;
}

.gap-4 {
    gap: 0.75rem;
}

.logout {
    display: none;
    position: relative;
    background: var(--white);
    top: 2rem;
    right: 6rem;
    border: 1px solid var(--gray);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

.show {
    display: block;
}

.topic{
    display: inline;
    margin-left: 20%;
}

