.form-page {
    position: absolute;
    left: 16.25rem;
    right: 0rem;
    top: 4rem;
    bottom: 0rem;
    background-color: rgb(242, 243, 247);
}

.form-board-2 {
    margin-inline: 45px;
    margin-block: 10px;
}

.pagehead {
    /* font-family: 'Noto Sans'; */
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;

    color: #1C1F37;
}

.form-section {
    height: 97px;
}

.form-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block: 10px;
}

.form-page-heading {
    width: 165px;
    height: 30px;
    left: 305px;
    top: 79px;

    /* font-family: 'Noto Sans'; */
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    color: #1C1F37;
}

.form-data-board {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    flex-wrap: wrap;
    gap: 110px;
}

#add-form-body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F7;
    justify-content: center;
    display: flex;
    /* font-family: 'Noto Sans'; */
}

.add-form-container {
    background-color: white;
    border-radius: 15px;
    top: 8rem;
    position: fixed;
    padding: 1em;
    width: 35%;
}

.add-form-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em 0;
    color: #1B2B65;
}

#defect-form {
    display: block;
    padding: 0rem 2rem 0rem 2rem;
}

.add-form-field {
    margin: 1em 0;
    text-align: left;
    display: block;
}

.add-form-label {
    display: block;
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
    margin-bottom: 0.5em;
    color: #777777;
}

.add-form-input {
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #CED4DA;
    box-sizing: border-box;
}

.add-form-input::placeholder {
    font-family: "Montserrat", sans-serif;
}

.add-form-error {
    color: red;
    font-size: 0.8em;
    margin: 0.5em 0;
}

.add-form-update-button {
    border: 1px solid #2773FF;
    color: #2773FF;
    background-color: white;
    padding: 0.5em 1.5em;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 2em auto 0 auto;
}

.add-form-update-button:hover {
    color: #ffffff;
    background-color: #1B2B65;
    opacity: 1;
}

.times input[type="date"] {
    font-family: "Montserrat", sans-serif;
 }