@import 'flash.css';

body {
    margin: 0;
    background: #F2F2F7;
    font-family: "Montserrat", sans-serif;
}

:root {
    --black: #000;
    --white: #fff;
    --blue: #418CFD;
    --gray: #d7d7d7;
    --darkblue: #1B2B65;
    --lightblue: #51CBFF;
    --fontblue: #1C1F37;
    --fontgray: #7c7a7a;
    --checkblue: #1266F1;
    --btnhover: #D4E3FF76;
    --linkblue: #017EFA;
    --green: #29CC97;
    --red: #ee0b0b;
    --yellow: #FEC400;
}


h3 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.3px;
}

/* Margins */
.margin-0 {
    margin: 0 !important
}

.margin-1 {
    margin: .25rem !important
}

.margin-2 {
    margin: .5rem !important
}

.margin-3 {
    margin: 1rem !important
}

.margin-4 {
    margin: 1.5rem !important;
    --margin: 1.5rem;
}

.margin-5 {
    margin: 3rem !important
}

.margin-auto {
    margin: auto !important
}

.marginx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important
}

.marginx-1 {
    margin-right: .25rem !important;
    margin-left: .25rem !important
}

.marginx-2 {
    margin-right: .5rem !important;
    margin-left: .5rem !important
}

.marginx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important
}

.marginx-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important
}

.marginx-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important
}

.marginx-auto {
    margin-right: auto !important;
    margin-left: auto !important
}

.marginy-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.marginy-1 {
    margin-top: .25rem !important;
    margin-bottom: .25rem !important
}

.marginy-2 {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important
}

.marginy-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important
}

.marginy-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important
}

.marginy-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important
}

.marginy-auto {
    margin-top: auto !important;
    margin-bottom: auto !important
}

.margin-top-0 {
    margin-top: 0 !important
}

.margin-top-1 {
    margin-top: .25rem !important
}

.margin-top-2 {
    margin-top: .5rem !important
}

.margin-top-3 {
    margin-top: 1rem !important
}

.margin-top-4 {
    margin-top: 1.5rem !important
}

.margin-top-5 {
    margin-top: 3rem !important
}

.margin-top-6 {
    margin-top: 2rem !important
}


.margin-top-auto {
    margin-top: auto !important
}

.margin-right-0 {
    margin-right: 0 !important
}

.margin-right-1 {
    margin-right: .25rem !important
}

.margin-right-2 {
    margin-right: .5rem !important
}

.margin-right-3 {
    margin-right: 1rem !important
}

.margin-right-4 {
    margin-right: 1.5rem !important
}

.margin-right-5 {
    margin-right: 3rem !important
}

.margin-right-6 {
    margin-right: 6rem !important
}

.margin-right-auto {
    margin-right: auto !important
}

.margin-bottom-0 {
    margin-bottom: 0 !important
}

.margin-bottom-1 {
    margin-bottom: .25rem !important
}

.margin-bottom-2 {
    margin-bottom: .5rem !important
}

.margin-bottom-3 {
    margin-bottom: 1rem !important
}

.margin-bottom-4 {
    margin-bottom: 1.5rem !important
}

.margin-bottom-5 {
    margin-bottom: 3rem !important
}

.margin-bottom-auto {
    margin-bottom: auto !important
}

.margin-left-0 {
    margin-left: 0 !important
}

.margin-left-1 {
    margin-left: .25rem !important
}

.margin-left-2 {
    margin-left: .5rem !important
}

.margin-left-3 {
    margin-left: 1rem !important
}

.margin-left-4 {
    margin-left: 1.5rem !important
}

.margin-left-5 {
    margin-left: 3rem !important
}

.margin-left-auto {
    margin-left: auto !important
}

/* Padding */
.padding-0 {
    padding: 0 !important
}

.padding-1 {
    padding: .25rem !important
}

.padding-2 {
    padding: .5rem !important
}

.padding-3 {
    padding: 1rem !important
}

.padding-4 {
    padding: 1.5rem !important
}

.padding-5 {
    padding: 3rem !important
}

.paddingx-0 {
    padding-right: 0 !important;
    padding-left: 0 !important
}

.paddingx-1 {
    padding-right: .25rem !important;
    padding-left: .25rem !important
}

.paddingx-2 {
    padding-right: .5rem !important;
    padding-left: .5rem !important
}

.paddingx-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important
}

.paddingx-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important
}

.paddingx-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important
}

.paddingx-6 {
    padding-right: 7rem !important;
    padding-left: 7rem !important
}

.paddingx-7 {
    padding-right: 10rem !important;
    padding-left: 10rem !important
}

.paddingy-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.paddingy-1 {
    padding-top: .25rem !important;
    padding-bottom: .25rem !important
}

.paddingy-2 {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important
}

.paddingy-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important
}

.paddingy-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important
}

.paddingy-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important
}

.paddingy-6 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important
}

.padding-top-0 {
    padding-top: 0 !important
}

.padding-top-1 {
    padding-top: .25rem !important
}

.padding-top-2 {
    padding-top: .5rem !important
}

.padding-top-3 {
    padding-top: 1rem !important
}

.padding-top-4 {
    padding-top: 1.5rem !important
}

.padding-top-5 {
    padding-top: 3rem !important
}

.padding-right-0 {
    padding-right: 0 !important
}

.padding-right-1 {
    padding-right: .25rem !important
}

.padding-right-2 {
    padding-right: .5rem !important
}

.padding-right-3 {
    padding-right: 1rem !important
}

.padding-right-4 {
    padding-right: 1.5rem !important
}

.padding-right-5 {
    padding-right: 3rem !important
}

.padding-bottom-0 {
    padding-bottom: 0 !important
}

.padding-bottom-1 {
    padding-bottom: .25rem !important
}

.padding-bottom-2 {
    padding-bottom: .5rem !important
}

.padding-bottom-3 {
    padding-bottom: 1rem !important
}

.padding-bottom-4 {
    padding-bottom: 1.5rem !important
}

.padding-bottom-5 {
    padding-bottom: 3rem !important
}

.padding-left-0 {
    padding-left: 0 !important
}

.padding-left-1 {
    padding-left: .25rem !important
}

.padding-left-2 {
    padding-left: .5rem !important
}

.padding-left-3 {
    padding-left: 1rem !important
}

.padding-left-4 {
    padding-left: 1.5rem !important
}

.padding-left-5 {
    padding-left: 3rem !important
}

.padding-z {
    padding: 3rem 13rem !important;
}

/* Grid */
.grid-columns-1 {
    display: grid;
    grid-template-columns: 20% 80%;
}

.grid-col-80 {
    display: grid;
    grid-template-columns: 80%;
}

/* Text alignment */
.text-left {
    text-align: left !important
}

.text-center {
    text-align: center !important
}

.text-right {
    text-align: right !important
}

.text-justify {
    text-align: justify !important
}

/* Item alignment */
.align-items-start {
    align-items: flex-start !important
}

.align-items-center {
    align-items: center !important
}

.align-items-end {
    align-items: flex-end !important
}

.align-items-stretch {
    align-items: stretch !important
}

.align-items-baseline {
    align-items: baseline !important
}

.align-self-center {
    align-self: center !important;
}

/* Justify content */
.justify-content-start {
    justify-content: flex-start !important
}

.justify-content-center {
    justify-content: center !important
}

.justify-content-end {
    justify-content: flex-end !important
}

.justify-content-between {
    justify-content: space-between !important
}

.justify-content-around {
    justify-content: space-around !important
}

/* Display */
.display-flex-row {
    display: flex !important;
    flex-direction: row;
}

.display-flex-column {
    display: flex !important;
    flex-direction: column;
}

.display-none {
    display: none !important
}

.display-block {
    display: block !important
}

.inner-layout {
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Gap */
.gap-0p5 {
    gap: 0.5rem;
}

.gap-0p75 {
    gap: 0.75rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.gap-2p1 {
    gap: 2.1rem;
}

.gap-5 {
    gap: 5rem;
}

.gap-10 {
    gap: 10rem;
}

.gap-46 {
    gap: 46rem;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030
}


/* Heights */
.height-0 {
    height: 0% !important
}

.height-25 {
    height: 25% !important
}

.height-50 {
    height: 50% !important
}

.height-75 {
    height: 75% !important
}

.height-90 {
    height: 90% !important
}

.height-100 {
    height: 100% !important
}

.height-vh-100 {
    height: 100vh !important
}

/* Widths */
.width-0 {
    width: 0% !important
}

.width-25 {
    width: 25% !important
}

.width-50 {
    width: 50% !important
}

.width-75 {
    width: 75% !important
}

.width-80 {
    width: 80% !important
}

.width-100 {
    width: 100% !important
}

.width-inherit {
    width: inherit !important;
}

/* Borders */
.border-gray {
    border: 1px solid var(--gray) !important;
    border-radius: 1rem;
}

.border-blue {
    border: 1px solid var(--blue) !important;
    border-radius: 1rem;
}

.border-bottom {
    border-bottom: 1px solid var(--gray) !important;
}

.border-radius-0 {
    border-radius: 0rem;
}


.border-radius-0p5 {
    border-radius: 0.5rem;
}

.border-radius-1 {
    border-radius: 1rem;
}

.border-radius-11 {
    border-radius: 11rem;
}

.background-none {
    background: none !important;
}

.background-white {
    background-color: var(--white);
}

.background-blue {
    background-color: var(--blue);
}

.background-image {
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -0.5rem;
}

/* Text */
.text-black {
    color: var(--black) !important
}

.text-white {
    color: var(--white) !important
}

.text-blue {
    color: var(--blue) !important
}

.text-gray {
    color: var(--gray) !important
}

.text-fontgray {
    color: var(--fontgray) !important
}

.text-hover-red:hover {
    color: var(--red) !important;
    cursor: pointer;
}

.text-hover-blue:hover {
    color: var(--checkblue) !important;
    cursor: pointer;
}

.text-center {
    text-align: center !important
}

.text-decoration-none {
    text-decoration: none !important
}

/* Flex Columns */
.column-auto {
    flex: 0 0 auto;
    width: auto
}

.column-1 {
    flex: 0 0 auto;
    width: 25%
}

.column-2 {
    flex: 0 0 auto;
    width: 50%
}

.column-3 {
    flex: 0 0 auto;
    width: 75%
}

.column-4 {
    flex: 0 0 auto;
    width: 100%
}

/* Container */
.container {
    background-color: var(--white);
    position: absolute;
    right: 0;
    height: 5.625rem;
    left: 16.25rem;
    padding-inline: 2rem;
}

.profilemenu {
    position: relative;
    display: inline-block;
}


/* row */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: var(--white);
}

.column {
    /* --margin-x: 10%;
    --margin-y: 8%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--white);
    margin-top: calc(1 * var(--margin-y));
    margin-right: calc(3.5 * var(--margin-x));
    margin-left: calc(3.5 * var(--margin-x))
}

/* Height in REM */
.height-rem-1 {
    height: 1rem !important;
}

.height-rem-2 {
    height: 2rem !important;
}

.height-rem-2p5 {
    height: 2.5rem !important;
}

.height-rem-8p5 {
    height: 8.5rem !important;
}

.height-rem-12p5 {
    height: 12.5rem !important;
}

.height-rem-25 {
    height: 25rem !important;
}


/* Width in REM */
.width-rem-0p75 {
    width: 0.75rem !important;
}

.width-rem-1p25 {
    width: 1.25rem !important;
}

.width-rem-2p5 {
    width: 2.5rem !important;
}

.width-rem-8p5 {
    width: 8.5rem !important
}

.width-rem-12p5 {
    width: 12.5rem !important
}

.width-rem-15p7 {
    width: 15.7rem !important
}

.width-rem-12 {
    width: 12rem !important
}

.width-rem-20 {
    width: 20rem !important
}

.width-rem-25 {
    width: 25rem !important
}

.width-rem-38p75 {
    width: 38.75rem !important
}

/* Position */
.position-relative {
    position: relative !important
}

.position-absolute {
    position: absolute !important
}

.position-fixed {
    position: fixed !important
}

/* Z-index */
.z-index-1 {
    z-index: 1 !important
}

/* Font Weight */
.font-weight {
    font-weight: 700;
}

.font-size {
    font-size: 12px !important;
    ;
}

.font-size-24 {
    font-size: 24px !important;
}

.pointer {
    cursor: pointer;
}

/* Card */
.card {
    --card-spacer-y: 1rem;
    --card-spacer-x: 1rem;
    --card-title-spacer-y: 0.5rem;
    --card-border-width: 1px;
    --card-border-color: var(--bs-border-color-translucent);
    --card-border-radius: 0.375rem;
    --card-box-shadow: ;
    --card-inner-border-radius: calc(0.375rem - 1px);
    --card-cap-padding-y: 0.5rem;
    --card-cap-padding-x: 1rem;
    --card-cap-bg: rgba(0, 0, 0, 0.03);
    --card-cap-color: ;
    --card-height: ;
    --card-color: ;
    --card-bg: #fff;
    --card-img-overlay-padding: 1rem;
    --card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--card-height);
    word-wrap: break-word;
    background-color: var(--card-bg);
    background-clip: border-box;
    border: var(--card-border-width) solid var(--card-border-color);
    border-radius: var(--card-border-radius)
}

.card-body {
    flex: 1 1 auto;
    padding: var(--card-spacer-y) var(--card-spacer-x);
    color: var(--card-color)
}

/* Button */
.btn {
    width: var(--btn-width);
    height: var(--btn-height);
    display: inline-block;
    padding: var(--btn-padding-y) var(--btn-padding-x);
    font-family: var(--btn-font-family);
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);
    line-height: var(--btn-line-height);
    color: var(--btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--btn-border-width) solid var(--btn-border-color);
    border-radius: var(--btn-border-radius);
    background-color: var(--btn-bg);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:hover {
    background-color: var(--btn-hover-bg);
}

.btn:focus {
    box-shadow: none;
}

.btn:disabled {
    opacity: .65;
    cursor: default;
    background-color: var(--btn-bg) !important;
}

.btn-primary {
    --btn-color: var(--blue);
    --btn-bg: white;
    --btn-border-color: var(--blue);
    --btn-hover-color: var(--blue);
    --btn-hover-bg: #D4E3FF76;
    --btn-hover-border-color: var(--blue);
    --btn-width: 16.75rem;
    --btn-height: 3rem;
    --btn-padding-x: 0.75rem;
    --btn-padding-y: 0.375rem;
    --btn-font-family: ;
    --btn-font-size: 1rem;
    --btn-font-weight: 400;
    --btn-line-height: 1.5;
    --btn-border-width: 1px;
    --btn-border-radius: 0.5rem;
    --btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --btn-disabled-opacity: 0.65;
    --btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--btn-focus-shadow-rgb), .5);
}

.btn-green {
    --btn-color: var(--green);
    --btn-border-color: var(--green);
    --btn-hover-color: var(--green);
    --btn-hover-bg: #e8f5e973;
    --btn-hover-border-color: var(--green);
}

.btn-noback {
    --btn-height: 2rem;
    --btn-width: 15rem;
    --btn-bg: none;
    --btn-padding-y: 0.1rem;
}

/* Form */
.form-control {
    --input-border: 1px;
    --input-border-color: var(--gray);
    --input-border-radius: 1rem;
    display: block;
    width: 16.75rem;
    padding: .6rem 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: var(--input-border) solid var(--input-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--input-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-label {
    margin-bottom: .5rem
}

.form-control::placeholder {
    opacity: 0;
}

.form-control:focus {
    --input-border-color: var(--blue);
    outline: 0;
    box-shadow: none;
}

.form-control-invalid {
    --input-border-color: #ee0b0b;
    outline: 0;
    box-shadow: none;
}

.form-control-red {
    --input-border-color: var(--red);
    outline: 0;
    box-shadow: none;
}

.form-control-red:focus {
    --input-border-color: var(--red);
    outline: 0;
    box-shadow: none;
}

.form-control-green {
    --input-border-color: var(--green);
    outline: 0;
    box-shadow: none;
}

.form-control-green:focus {
    --input-border-color: var(--green);
    outline: 0;
    box-shadow: none;
}

.form-control-blue {
    --input-border-color: var(--blue);
    outline: 0;
    box-shadow: none;
}


input:focus~label.form-label,
input:not(:placeholder-shown)~label.form-label {
    bottom: 4.5em;
    left: 1.5em;
    background-color: white;
    padding: 0 0.5em;
    font-size: 0.8em;
    opacity: 1;
    color: var(--blue);
}

input:not(:focus)~label.form-label {
    color: #ced4da;
}

input.red:focus {
    border-color: var(--blue);
    outline: 0;
    box-shadow: none;
}

input:focus~label.red {
    color: #ee0b0b;
}

input:not(:focus)~label.red {
    color: #ee0b0b;
}

input:focus~label.green {
    color: var(--green);
}

input:not(:focus)~label.green {
    color: var(--green);
}

input:not(:focus)~label.blue {
    color: var(--blue);
}

label.form-label {
    position: relative;
    bottom: 2em;
    left: 1.5em;
    color: #ced4da;
    pointer-events: none;
    transition: 0.2s ease all;
    margin: none;
}

input.form-control:-webkit-autofill,
input.form-control:-webkit-autofill:hover,
input.form-control:-webkit-autofill:focus,
input.form-control:-webkit-autofill:active {
    background-color: white;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue);
}

/* Checboxs */
.form-control-checkbox {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-control-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid var(--gray);
    box-shadow: inset 3.2px 3.2px 5.6px rgb(0 0 0 / 5%);
    border-radius: 0.65rem;
}

.checkmark-small {
    height: 1.2rem;
    width: 1.2rem;
    border: 1px solid var(--gray);
    box-shadow: inset 3.2px 3.2px 5.6px rgb(0 0 0 / 5%);
    border-radius: 0.5rem;
}

.form-control-checkbox input:checked~.checkmark {
    border: 1px solid var(--checkblue);
    background-color: var(--checkblue);
}

.form-control-checkbox input:checked~.checkmark-small {
    border: 1px solid var(--checkblue);
    background-color: var(--checkblue);
}

/* .form-control-checkbox:after {
    content: "";
    position: absolute;
    display: none;
  } */

input:checked~.checkmark:after {
    content: "";
    position: absolute;
    margin: 0.15rem 0.45rem;
    width: 0.4rem;
    height: 0.8rem;
    border: solid var(--white);
    border-width: 0 0.2rem 0.2rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

input:checked~.checkmark-small:after {
    content: "";
    position: absolute;
    margin: 0.05rem 0.35rem;
    width: 0.3rem;
    height: 0.7rem;
    border: solid var(--white);
    border-width: 0 0.2rem 0.2rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Select */
div.select {
    position: absolute;
    top: 14rem;
    cursor: pointer;
    z-index: 1;
}

/* input:focus~div.select {
    display: block !important;
    position: absolute;
    top: 14rem;
    cursor: pointer;
} */

.img-grid {
    display: grid;
    grid-template-columns: repeat(10, 1.25rem);
    grid-template-rows: repeat(10, 1.25rem);
}

.grid-add {
    grid-row: 2;
    grid-column: 9;
}

.chart-grid {
    display: grid;
    grid-template-columns: repeat(20, 1rem);
    grid-template-rows: repeat(20, 1rem);
}

.chart-grid-add {
    grid-row: 9;
    grid-column: 7;
}

.chart-grid-stage {
    display: grid;
    grid-template-columns: repeat(10, 1rem);
    grid-template-rows: repeat(10, 1rem);
}

.chart-grid-stage-add {
    grid-row: 6;
    grid-column: 5;
}
/*--------------------------------------------------------------*/
/*                        Navigation Menu                       */
/*--------------------------------------------------------------*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    height: 100%;
    overflow: auto;
    width: 260px;
    left: 0px;
    top: 0px;
    background: #081A51;
}

li a {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.75rem 0 0 0.75rem;
    color: #fff;
    height: 1.5rem;
    margin-left: 1rem;
    padding: 1rem 0rem 1rem 0.875rem !important;
    text-decoration: none;
}

li a.active {
    background-color: var(--darkblue);
    color: white;
}

li a:hover:not(.active) {
    background-color: var(--darkblue);
    color: white;
}

.nav_logo {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-top: 2rem;
}

.nav_section_headings {
    color: var(--lightblue);
    font-size: 12px;
    margin-left: 1.875rem;
    margin-bottom: 0.5625rem;
}


.logout {
    background: var(--white);
    right: -0.5rem;
    top: 2.3rem;
    padding: 0.5rem 1rem;
    overflow: auto;
}

.page-content {
    left: 20rem;
    top: 8rem;
    right: 3rem;
}

.page-heading {
    font-family: 'Gilroy';
    font-style: normal;
    font-size: 32px;
    color: var(--fontblue);
}

/*--------------------------------------------------------------*/
/*                            Managers                          */
/*--------------------------------------------------------------*/

.shell-btn {
    border: 1px solid var(--gray);
    width: 15.7rem;
    color: var(--blue);
    background-color: var(--white);
    cursor: pointer;
}

.shell-btn.active {
    border: 1px solid var(--blue);
    color: var(--white);
    background-color: var(--blue);
}

.shell-btn:hover {
    border: 1px solid var(--blue);
    color: var(--white);
    background-color: var(--blue);
}

.shell-forms {
    display: none;
    left: 20rem;
    top: 18rem;
    width: 72.3rem;
}

.employee-forms {
    display: none;
    left: 33rem;
    top: 12rem;
}

.section-heading {
    font-family: 'Gilroy';
    font-style: normal;
    font-size: 24px;
    color: var(--fontblue);
}

.view-more {
    color: var(--linkblue);
    font-size: 14px;
    font-weight: 600;
}

/*--------------------------------------------------------------*/
/*                       Flash Message                          */
/*--------------------------------------------------------------*/

.fade {
    transition: opacity .10s linear;
}

.fade:not(.show) {
    opacity: 0;
}

.alert {
    --alert-bg: transparent;
    --alert-padding-x: 1.5rem;
    --alert-padding-y: 1.25rem;
    --alert-margin-bottom: 1rem;
    --alert-color: inherit;
    --alert-border-color: transparent;
    --alert-border: 1px solid var(--alert-border-color);
    --alert-border-radius: 0.5rem;
    position: relative;
    z-index: 1070;
    padding: var(--alert-padding-y) var(--alert-padding-x);
    margin-bottom: var(--alert-margin-bottom);
    color: var(--alert-color);
    background-color: var(--alert-bg);
    border: var(--alert-border);
    border-radius: var(--alert-border-radius);
    font-style: italic;
    display: none;
    width: 20rem;
    bottom: unset;
    right: unset;
    top: 35rem;
    left: 68rem;
    transform: unset;
}

.alert-success {
    --alert-color: #0d6832;
    --alert-bg: #d0eddb;
    --alert-border-color: #b9e4ca;
}

.alert-failure {
    --alert-color: #af233a;
    --alert-bg: #f8dbe0;
    --alert-border-color: #f5c9d1;
}

.alert-success i {
    color: #139647;
}

.icon {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-style: normal;
}

/* Select */
select {
    border: none;
    color: #017EFA;
    font-size: 14px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

select.type2 {
    color: #ced4da;
}

select:focus-visible {
    outline: none;
}

.custom-select, 
.custom-select-model,
.custom-select-color {
    position: relative;
    display: inline-block;
    font-size: 14px;
}

.custom-select .selector-options, 
.custom-select-model .selector-options,
.custom-select-color .selector-options {
    list-style: none;
    color: #017EFA;
    border: 1px solid;
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: #fff;
}

.custom-select .selector-options li,
.custom-select-model .selector-options li,
.custom-select-color .selector-options  li {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s ease;
}

.custom-select .selector-options li:hover,
.custom-select-model .selector-options li:hover,
.custom-select-color .selector-options  li:hover {
    background: #017EFA;
    color: white
}

.chassis-label,
.color-label {
    position: relative;
    bottom: 3.9em;
    left: 1.5em;
    background-color: white;
    padding: 0 0.5em;
    opacity: 1;
    color: var(--gray);
}

/* Calender */
#calender>.calender-title {
    word-spacing: 0.5rem;
    font-size: 20px;
    font-weight: 600;
}

#calender th, #calender td {
    font-size: 14px;
    width: 2rem;
    height: 2rem;
    text-align: center;
}

#calender .current {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 4rem;
}

/* Charts */
#myChart {
    width: 300px !important;
    height: 230px !important;
}

#stage01,
#stage02,
#stage03,
#stage04 {
    width: 10rem !important;
    height: 10rem !important;
}

.chart-percentage {
    position: absolute;
    top: 12.3rem;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: 600;
    color: var(--fontgray);
}

.chart-percentage-ao {
    font-size: 4rem;
    transform: translate(-50%, -50%);
    font-weight: 600;
    color: var(--fontgray);
}

.chart-percentage-stage{
    font-size: 2rem;
    transform: translate(-50%, -50%);
    font-weight: 600;
    color: var(--fontgray);
    height: 2rem;
    width: 2rem;
}

.dash-darkblue-circle {
    background-color: #0853dd;
}

.dash-lightblue-circle {
    background-color: #3ba5fb;
}

.dash-graph-color-circle {
    height: 0.5rem;
    width: 0.5rem;
    margin: auto 0.5rem auto 0rem;
    border-radius: 50%;
}

.next,
.prev {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: var(--blue);
    cursor: pointer;
}

/*--------------------------------------------------------------
Table
--------------------------------------------------------------*/

.rwd-table {
    margin: auto;
    min-width: 300px;
    max-width: 100%;
    border-collapse: collapse;
}

.rwd-table tr:first-child {
    border-top: none;
    background: #428bca;
    color: #fff;
}

.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f5f9fc;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
    background-color: #ebf3f9;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:first-child {
    margin-top: .5em;
}

.rwd-table td:last-child {
    margin-bottom: .5em;
}

.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 120px;
    display: inline-block;
    color: #000;
}

.rwd-table th,
.rwd-table td {
    text-align: left;
}

.rwd-table {
    color: #333;
    border-radius: .4em;
    overflow: hidden;
}

.rwd-table th,
.rwd-table td {
    padding: .5em 1em;
}

.caption {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 1rem;
    color: #418CFD;
}

@media screen and (max-width: 601px) {
    .rwd-table tr:nth-child(2) {
        border-top: none;
    }
}

@media screen and (min-width: 600px) {
    .rwd-table tr:hover:not(:first-child) {
        background-color: #d8e7f3;
    }

    .rwd-table td:before {
        display: none;
    }

    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }

    .rwd-table th:first-child,
    .rwd-table td:first-child {
        padding-left: 0;
    }

    .rwd-table th:last-child,
    .rwd-table td:last-child {
        padding-right: 0;
    }

    .rwd-table th,
    .rwd-table td {
        padding: 1em !important;
    }
}

.container1 {
    display: block;
    text-align: center;
    position: absolute;
    left: 24%;
    top: 20%;
}

@-webkit-keyframes leftRight {
    0% {
        -webkit-transform: translateX(0)
    }

    25% {
        -webkit-transform: translateX(-10px)
    }

    75% {
        -webkit-transform: translateX(10px)
    }

    100% {
        -webkit-transform: translateX(0)
    }
}

@keyframes leftRight {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(-10px)
    }

    75% {
        transform: translateX(10px)
    }

    100% {
        transform: translateX(0)
    }
}

.page-content {
    position: absolute;
    left: 20.25rem;
    top: 8rem;
}

/* PAGE CONTENT */
.detailed_content {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: -2rem;
}

/* <- LEFT SIDE OF PAGE CONTENT */

/*  <- LEFT SIDE HEADING */
.heading {
    margin-top: 1rem;
    font-size: x-large;
}

/* LEFT SIDE DETAILED BOX (UPPER) */
.indetail {
    min-height: 18rem;
    min-width: 40rem;
    margin-top: 1rem;

    display: grid;
    /* flex-direction: row; */
    justify-content: space-evenly;

    background-color: white;
    border-radius: 1.2rem;
}

.upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.graph {
    /* margin-block: auto; */
    /* overflow-y:scroll; */
    max-height: 13rem;
    padding-bottom: 1rem;
}

.chart {
    text-align: center;
}

.donut {
    height: 20vh;
    width: 20vh;
    margin: 1vh;
}

.map_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.map {
    min-height: 1.2rem;
    /* border: 1px solid rgb(199, 199, 199);
    border-radius: 0.2rem; */
    margin-inline: 0.36rem;

    min-width: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: left;

    /* font-size: small; */
}

.circle-dark {
    height: 0.75rem;
    width: 0.75rem;
    margin: auto 1rem auto 0.5rem;
    background-color: #4B56D2;
    border-radius: 50%;
}

.circle-lite {
    height: 0.75rem;
    width: 0.75rem;
    margin: auto 1rem auto 0.5rem;
    background-color: #82C3EC;
    border-radius: 50%;
}

/* LEFT SIDE DETAILED BOX DIVIDING LINE (UPPER) */
.line {
    border-left: 0.05rem solid rgb(199, 199, 199);
    height: 15rem;
    margin-block: auto;
}

.damages {
    margin-block: auto;
    min-width: 12rem;
    /*XXXXXXXXXXXXXXXXX UNTIL FINISH XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
}

/* LEFT SIDE COUNTABLE DETAILS BOX OUTER (DOWN)*/
.count {
    min-height: 27vh;
    min-width: 48vw;
    margin-top: 1rem;

    background-color: white;
    border-radius: 1.2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* LEFT SIDE COUNTABLE DETAILS BOX INNER SINGLE (DOWN) */
.countbox {
    margin-block: auto;
    height: 8rem;
    width: 8rem;

    border: 0.1rem solid rgb(150, 150, 150);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    font-weight: bolder;
    color: rgb(49, 121, 253);
}

/* LEFT SIDE COUNTABLE DETAILS BOX INNER SINGLE NUMBER-BOX (DOWN) */
.number {
    font-size: 3rem;
}

/* -> RIGHT SIDE OF PAGE CONTENT */
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    padding-top: 1rem;
    gap: 1rem;
}

/* -> RIGHT SIDE ACTIVITY LOG BOX OUTER */
.logs {
    min-height: 20vh;
    min-width: 16.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: white;
    border-radius: 1.2rem;
}

/* -> RIGHT SIDE QUICK ACCESS BOX OUTER */
.quick {
    min-height: 8rem;
    min-width: 16.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: white;
    border-radius: 1.2rem;
}

/* -> RIGHT SIDE ACTIVITY LOG & QUICK ACCESS BOX INNER */
.sidebox {
    margin-inline: 1rem;
}

.activity_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.blue_button {
    min-width: 6rem;
    min-height: 2rem;

    background-color: dodgerblue;
    color: white;
    font-size: small;
    border: none;
    border-radius: 10rem;
}

.blue_button_long {
    min-width: 40rem;
    min-height: 3rem;

    background-color: dodgerblue;
    color: white;
    font-size: small;
    border: none;
    border-radius: 1rem;
    display: block;
    margin: 0.5rem 1.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.dash_cap{
    font-weight: bold;
    margin: 1rem 0;
}

.blue_button:hover {
    background-color: rgb(99, 174, 250);
    box-shadow: 0 0 0.2rem rgb(144, 144, 255);
}

.blue_button_long:hover {
    background-color: rgb(99, 174, 250);
    box-shadow: 0 0 0.2rem rgb(144, 144, 255);
}

/* CALENDER BOX */
.calender {
    min-height: 16.5rem;
    min-width: 16.5rem;
    margin-top: 0.75rem;

    background-color: white;
    border-radius: 1.2rem;
}


.bold {
    font-weight: bold;
}

.small {
    font-size: 10px;
}

#vehicles {
    width: 1.2rem;
    border: none;
}

/* Select vehicle */

/* #select_vehicle {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #D2DAFF;
    font-family: "Montserrat", sans-serif;
  }
  
  div[class*=box_sv] {
    height: 10%;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }
  
  
  .btn_sv {
    line-height: 50px;
    height: 50px;
    text-align: center;
    font-weight: 600;
    width: 20%;
    cursor: pointer;
    margin-left: 15%;
  }
  
  .btn_sv-three {
    color: #000;
    transition: all 0.5s;
    position: relative;
  }
  
  .btn_sv-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.2);
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
  }
  
  .btn_sv-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  
  .btn_sv-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(0,0,0,0.5);
    transform: scale(1.2,1.2);
  }
  
  .btn_sv-three:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }
  
  .head_sv{
          font-size: 30px;
          font-weight: bold;
          color: #1B2B65;
          margin-bottom: 30px;
          margin-left: 15%;
          text-align: center;
  } */

  .head_1 {
    font-size: 30px;
    font-weight: bold;
    color: #1B2B65;
    margin-bottom: 20px;
  }

  .head_2 {
    font-size: 18px;
    font-weight: bold;
    color: #1B2B65;
    margin-bottom: 30px;
  }

/* Navbar_2 */
.container_navbar_2 {
    background-color: var(--white);
    position: absolute;
    width: 100rem;
    height: 5.625rem;
}

#redline, #redline1 {
    color: red;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* SUPERVISOR DELETE BUTTONS */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


.delete-button {
    color: #B10202;
    text-decoration: none;
    border: 0.1rem solid #B10202;
    border-radius: 0.5rem;
    background-color: #ffffff;
    padding-inline: 1rem;
    cursor: pointer;
    padding-block: 0.25rem;
    transition: 0.2s;
}

/* .delete-button:hover {
    color: #fb6e32;
    border: 0.1rem solid #fb6e32;
    background-color: #fff0e9;
} */

.delete-button:hover {
    color: #ffffff;
    background-color: #FFC4C4;
    opacity: 1;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* SUPERVISOR EDIT BUTTONS */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


.edit-button {
    color: #017EFA;
    /* color: #2773FF; */
    text-decoration: none;
    border: 0.1rem solid #017EFA;
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding-inline: 2rem;
    cursor: pointer;
    padding-block: 0.25rem;
    transition: 0.2s;
}

/* .edit-button:hover {
    color: #5fc1f5;
    border: 0.1rem solid #5fc1f5;
    background-color: #ebf8ff;
} */
.edit-button:hover {
    color: #ffffff;
    background-color: #C0DEFF;
    opacity: 1;
}

/* Calender */
#calender>.calender-title {
    word-spacing: 0.5rem;
    font-size: 20px;
    font-weight: 600;
}

#calender th, #calender td {
    font-size: 14px;
    width: 2rem;
    height: 2rem;
    text-align: center;
}

#calender .current {
    background-color: var(--blue);
    color: var(--white);
    border-radius:4rem !important;
}

.background-white {
    background-color: var(--white);
}

.border-radius-1 {
    border-radius:1rem!important;
}


/*--------------------------------------------------------------
Add Defect Form
--------------------------------------------------------------*/
.form-page {
    position: absolute;
    left: 16.25rem;
    right: 0rem;
    top: 4rem;
    bottom: 0rem;
    background-color: rgb(242, 243, 247);
}

.form-board-2 {
    margin-inline: 45px;
    margin-block: 10px;
}

.pagehead {
    /* font-family: 'Noto Sans'; */
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;

    color: #1C1F37;
}

.form-section {
    height: 97px;
}

.form-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block: 10px;
}

.form-page-heading {
    width: 165px;
    height: 30px;
    left: 305px;
    top: 79px;

    /* font-family: 'Noto Sans'; */
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    color: #1C1F37;
}

.form-data-board {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    flex-wrap: wrap;
    gap: 110px;
}

#add-form-body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F7;
    justify-content: center;
    display: flex;
    /* font-family: 'Noto Sans'; */
}

.add-form-container {
    background-color: white;
    border-radius: 15px;
    top: 10rem;
    position: fixed;
    padding: 1em;
    width: 35%;
}

.add-form-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em 0;
    color: #1B2B65;
}

#defect-form {
    display: block;
    padding: 0rem 2rem 0rem 2rem;
}

.add-form-field {
    margin: 1em 0;
    text-align: left;
    display: block;
}

.add-form-label {
    display: block;
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
    margin-bottom: 0.5em;
    color: #777777;
}

.add-form-input {
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #CED4DA;
    box-sizing: border-box;
}

.add-form-input::placeholder {
    font-family: "Montserrat", sans-serif;
}

.add-form-error {
    color: red;
    font-size: 0.8em;
    margin: 0.5em 0;
}

.add-form-update-button {
    border: 1px solid #2773FF;
    color: #2773FF;
    background-color: white;
    padding: 0.5em 1.5em;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 2em auto 0 auto;
}

.add-form-update-button:hover {
    color: #ffffff;
    background-color: #1B2B65;
    opacity: 1;
}

.times input[type="date"] {
    font-family: "Montserrat", sans-serif;
 }

/* PDI FORM */

#grid-body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F7;
    justify-content: center;
    display: flex;
    font-family: "Montserrat", sans-serif;
}

.grid-container {
    background-color: white;
    border-radius: 15px;
    top: 7rem;
    position: fixed;
    padding: 1em;
    width: 20%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* gap: 10px; */

    row-gap: 2px;
    padding: 2rem -1rem 2rem 1rem;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
}

.grid-item-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: left;
}

/* .grid-item-2{

} */

.grid-item-caption{
    font:400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
    color: #777777;
}

.round-checkbox {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #ddd;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.round-checkbox:checked {
    background-color: #29CC97;
}

.grid-center {
    text-align: center;
}

.grid-left {
    text-align: left;
}

.grid-right {
    text-align: right;
}

.padding-left-form {
    padding-left: 1rem;
}


.sv-data-board {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .sv-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 2rem;
    column-gap: 2rem;
    top: 16rem;
    position: fixed;
  }
  
  .sv-item {
    display: flex;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
    min-height: 180px;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 15rem;
  }
  
  #select_vehicle {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* background: #D2DAFF; */
    font-family: "Montserrat", sans-serif;
  }
  
  div[class*=box_sv] {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }
  
  
  .btn_sv {
    line-height: 150px;
    height: 150px;
    text-align: center;
    /* font-family: 'Noto Sans'; */
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    width: 30%;
    cursor: pointer;
  }
  
  .btn_sv-three {
    color: #000;
    transition: all 0.5s;
    position: relative;
  }
  
  .btn_sv-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  .btn_sv-three:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  
  .btn_sv-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.5);
    transform: scale(1.2, 1.2);
  }
  
  .btn_sv-three:hover::after {
    opacity: 1;
    transform: scale(1, 1);
  }
  
  .head_sv {
    font-size: 30px;
    font-weight: bold;
    color: #1B2B65;
    margin-bottom: 30px;
    margin-left: 15%;
    text-align: center;
  }