.select-page {
    position: absolute;
    left: 16.25rem;
    right: 0rem;
    top: 4rem;
    bottom: 0rem;
    background-color: rgb(242, 243, 247);
  }
  
  .select-board-2 {
    margin-inline: 45px;
    margin-block: 10px;
  }
  
  .select-section {
    height: 97px;
  }
  
  .select-data-board {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  
    flex-wrap: wrap;
    gap: 110px;
  }
  
  .sp-detailed-content {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 1rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Noto Sans';
    background-color: #f2f2f7;
  }
  
  .pending-tasks {
    max-height: 13rem;
    padding-bottom: 1rem;
  }
  
  .box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn-s {
    height: 17rem;
    text-align: center;
    width: 16rem;
    cursor: pointer;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    top: -2rem
  }
  
  .select-btn {
    color: #1b2b65;
    transition: all 0.5s;
    position: relative;
  }
  
  .btn-caption {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
  }
  
  .select-btn:hover {
    color: #1266f1;
  }
  
  .select-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
    border: 2px solid rgba(18, 102, 241, 0.3);
    border-radius: 0.5rem;
  }
  
  .select-btn:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  
  .select-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 2px solid rgba(27, 43, 101, 1);
    transform: scale(1.2, 1.2);
    border-radius: 0.5rem;
  }
  
  .select-btn:hover::after {
    opacity: 1;
    transform: scale(1, 1);
  }
  
  .fa-regular {
    font-size: 6rem;
  }
  
  .fa-light {
    font-size: 6rem;
  }  