/*BODY STYLES*/
body {
    background-color: rgb(235, 235, 235);
    font-family: sans-serif;
}

/*FULL PAGE CONTAINER*/
.page {
    min-height: 97vh;
    min-width: 97vw;
    display: flex;
    align-items: center;
}

/*WHITE COLOR LOGIN FORM*/
.login_form {
    height: 19rem;
    width: 19rem;
    padding: 1rem 0.5rem;
    margin: auto;

    background-color:white;
    border: 2px solid rgb(225, 225, 225);
    border-radius: 2.5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*MICROCAPS LOGO*/
.logo {
    height: 2rem;
}

/*INPUT BOX*/
.ipbox {
    width: 96.5%;
    height: 2rem;

    border: 0.15rem solid rgb(210, 210, 210);
    border-radius: 0.4rem;
}

/*SUBMIT BUTTON*/
.btn_submit {
    padding: 0.5rem 6rem;
    border: 0.15rem solid rgb(49, 121, 253);
    border-radius: 0.4rem;

    color: rgb(49, 121, 253);
    background-color:white;
}

/*FORGOT PASSWORD*/
.forgot_pw {
    color: rgb(200, 200, 200);
    text-decoration: none;
    font-size: 10px;
}

/*div {
    border: 1px solid black;
}*/