/* BODY STYLES */
body {
    background-color: rgb(235, 235, 235);
    font-family: sans-serif;
}


/* NAVIGATION BAR */
.navigation {
    min-height: 97vh;
    min-width: 17vw;
    background-color: rgb(12, 10, 94)
}

/* FULL CONTENT WITHOUT NAVIGATION BAR */
.full_content {
    min-height: 97vh;
    min-width: 83vw;
}

/* TOP MENU BAR */
.top_content {
    min-height: 9vh;
    min-width: 83vw;

    display: flex;
    background-color: rgb(255, 255, 255);
}

/* PAGE CONTENT */
.detailed_content {
    min-height: 88vh;
    min-width: 83vw;

    background-color: rgb(235, 235, 235);
}

/* <- LEFT SIDE OF PAGE CONTENT */
.left {
    padding-left: 3rem;
}

/*  <- LEFT SIDE HEADING */
.heading {
    margin-top: 2rem;
    font-size: x-large;
}

/* LEFT SIDE DETAILED BOX (UPPER) */
.indetail {
    min-height: 39vh;
    min-width: 48vw;
    margin-top: 1rem;

    justify-content: space-evenly;

    background-color: white;
    border-radius: 1.2rem;
}

.upper {
    justify-content: space-evenly;
}

.graph {
    margin-block: auto;
}

.chart {
    text-align: center;
}

.donut {
    height: 20vh;
    width: 20vh;
    margin: 1vh;
}

.map_list {
    justify-content: center;
}

.map {
    min-height: 1.2rem;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 0.2rem;
    margin-inline: 0.36rem;

    min-width: 6rem;
    justify-content: flex-start;

    font-size: small;
}

.circle {
    height: 0.75rem;
    width: 0.75rem;
    margin: auto 1rem auto 0.5rem;
    background-color: rgb(23, 7, 114);
    border-radius: 50%;
}

/* LEFT SIDE DETAILED BOX DIVIDING LINE (UPPER) */
.line {
    border-left: 0.05rem solid rgb(199, 199, 199);
    height: 30vh;
    margin-block: auto;
}

.damages {
    margin-block: auto;
    min-width: 12rem;
    /*XXXXXXXXXXXXXXXXX UNTIL FINISH XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
}

/* LEFT SIDE COUNTABLE DETAILS BOX OUTER (DOWN)*/
.count {
    min-height: 27vh;
    min-width: 48vw;
    margin-top: 1rem;

    background-color: white;
    border-radius: 1.2rem;

    justify-content: space-around;
}

/* LEFT SIDE COUNTABLE DETAILS BOX INNER SINGLE (DOWN) */
.countbox {
    margin-block: auto;
    height: 9vw;
    width: 9vw;

    border: 0.1rem solid rgb(150, 150, 150);
    border-radius: 1rem;

    justify-content: center;

    text-align: center;
    font-weight: bolder;
    color: rgb(49, 121, 253);
}

/* LEFT SIDE COUNTABLE DETAILS BOX INNER SINGLE NUMBER-BOX (DOWN) */
.number {
    font-size: 3rem;
}

/* -> RIGHT SIDE OF PAGE CONTENT */
.right {
    justify-content: center;

    padding-left: 1rem;
}

/* -> RIGHT SIDE ACTIVITY LOG BOX OUTER */
.logs {
    justify-content: space-around;
}

/* -> RIGHT SIDE QUICK ACCESS BOX OUTER */
.quick {
    justify-content: space-evenly;
}

.quick, .logs {
    min-height: 21vh;
    min-width: 24vw;
    margin-bottom: 1rem;

    background-color: white;
    border-radius: 1.2rem;
}

/* -> RIGHT SIDE ACTIVITY LOG & QUICK ACCESS BOX INNER */
.sidebox {
    margin-inline: 10%;
}

.btn {
    justify-content: space-evenly;
}

.blue_button {
    min-width: 7rem;
    min-height: 2.5rem;

    background-color: dodgerblue;
    color: white;
    font-size: small;
    border: none;
    border-radius: 10rem;
}

.blue_button:hover {
    background-color: rgb(99, 174, 250);
    box-shadow: 0 0 0.2rem rgb(144, 144, 255);
}

/* CALENDER BOX */
.calender {
    min-height: 34vh;
    min-width: 25vw;

    background-color: white;
    border-radius: 1.2rem;
}


.bold {
    font-weight: bold;
}

.small {
    font-size: 10px;
}

#vehicles {
    width: 1.2rem;
    border: none;
}

/*
.page,
.btn,
.count,
.map_list,
.map,
.upper,
.indetail,
.detailed_content
*/

.fr {
    display: flex;
    flex-direction: row;
}

/*
quick
logs
right
countbox
full_content
*/

.fc {
    display: flex;
    flex-direction: column;
}


/*
div {
    border: 1px solid black;
}*/