
.search-container {
    width: 15rem;
    display: grid;
    justify-items: flex-end;
    align-items: center;
}

.search {
    position: relative;
    width: 2.3rem;
    height: 2.3rem;
    background-color: var(--white);
    border-radius: 4rem;
    padding: 5px;
    overflow: hidden;
    transition: width .5s cubic-bezier(.9,0,.3,.9);
}

.search-input::placeholder {
    color: var(--gray);
    font-family: "Montserrat", sans-serif
}

.search-input {
    border: none;
    outline: none;
    width: calc(100% - 64px);
    height: 100%;
    border-radius: 4rem;
    padding-left: 14px;
    font-family: "Montserrat", sans-serif;
    /* font-size: 12px;
    font-weight: 500; */
    opacity: 0;
    pointer-events: none;
    transition: opacity 1.5s;
}

.search-input:-webkit-autofill {
    box-shadow: 0 0 0 1000px white inset ;
}

.search-button {
    width: 2.3rem;
    height: 2.3rem;
    background-color: var(--darkblue);
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    display: grid;
    place-items: center;
    cursor: pointer;
    transform: transform .6s cubic-bezier(.9,0,.3,.9);
}

.search-icon,
.search-close {
    color: white;
    font-size: 1.3rem;
    position: absolute;
    transition: opacity .5s cubic-bezier(.9,0,.3,.9);
}

.search-close {
    opacity: 0;
}

.show-search {
    width: 100%;
}

.show-search .search-input {
    opacity: 1;
    pointer-events: initial;
}

.show-search .search-button {
    transform: rotate(90deg);
}

.show-search .search-icon {
    opacity: 0;
}

.show-search .search-close {
    opacity: 1;
}